<div class="carousel-card d-flex flex-column align-items-center" alt="<%= alt %>">
  <div class="user d-flex align-items-center justify-content-center">
    <div class="img">
      <%= image_tag(asset_path('testimonial_1.png')) %>
    </div>
    <div class="infos">
      <div class="name">
        <span>Yi-Min</span>
      </div>
      <div class="destination d-flex flex-column">
        <span>from: Shangai</span>
        <span>moved to: Paris</span>
      </div>
    </div>
  </div>
  <div class="sentence">
    <span>“Most of the admin was in French. movido saved me time and money for my semester abroad in Paris”</span>
  </div>
</div>
