<div class="col-md-3 explanation-card d-flex flex-column justify-content-center">
  <div class="illustration d-flex justify-content-center">
    <%= image_tag(asset_path(img)) %>
  </div>
  <div class="title d-flex justify-content-center align-items-center">
    <span class='d-flex align-items-center'><span class='step'><%= step %></span> <%= title %></span>
  </div>
  <div class="desc">
    <span><%= desc %></span>
  </div>
</div>
