<div class="col-md-3 explanation-card mb-2 d-flex flex-column align-items-center align-items-lg-start">
  <div class="illustration d-flex justify-content-center mb-1">
    <%= image_tag(asset_path(img)) %>
  </div>
  <div class="title">
    <span class='d-flex align-items-center'><span class='step'><%= step %></span> <%= title %></span>
  </div>
  <span class='desc text-justify'><%= desc %></span>
</div>
