<div class="col-md-4">
  <div class="service-card d-flex align-items-center flex-column px-3">
    <div class="picto mb-2">
      <%= image_tag(asset_path(picto)) %>
    </div>
    <div class="title mb-2">
      <%= title %>
    </div>
    <div class="desc text-center">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</span>
    </div>
  </div>
</div>
