<div class="why-card">
  <div class="illustration">
    <%= image_tag(asset_path(img)) %>
  </div>
  <div class="title">
    <span><%= title %></span>
  </div>
  <div class="desc">
    <span><%= desc %></span>
  </div>
</div>
