<div class="why-card d-flex flex-column m-5 p-md-2">
  <div class="illustration">
    <%= image_tag(asset_path(img)) %>
  </div>
    <span class="title"><%= title %></span>
    <span class="desc"><%= desc %></span>
</div>
