@include media-breakpoint-down(md) {
  .landing-container {
    .banner-landing {
      height: 80vh;
      background-size: cover;
      background-position: right;
      .content {
        padding-top: 4rem;
        .search-form {
          height: 65%;
        }
        .btn-flat-card {
          height: auto;
          line-height: auto;
          width: auto;
          font-size: 17px;
        }
        h1 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          color: $white;
          font-size: 26px;
          line-height: 37px;
          font-feature-settings: 'liga' off;
          margin-bottom: 1.5rem;
        }
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 75%;

          .geocoder {
            border-radius: 15px;
            input {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 17px;
              color: $grey;
            }
            i {
              top: 31%;
              font-size: 18px;
              left: 18px;
              z-index: 2;
            }
          }
          .mapboxgl-ctrl {
            height: 60px;
            border-radius: 15px;
          }
          .mapboxgl-ctrl-geocoder--icon-search {
            top: 18px;
            display: none;
          }
          .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
            top: 13px;
          }
          .mapboxgl-ctrl-geocoder--input {
            height: 60px;
            border-radius: 15px;
            &:focus {
              outline: none;
            }
          }
          .date-range-input i {
            top: 28%;
            font-size: 18px;
            left: 18px;
          }
          .date-range-input input {

          }
          .datepicker {
            height: 60px;
            border-radius: 15px;
            padding: 6px 45px;
            background-color: transparent;
            font: inherit;
            width: 100%;
            border: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: $grey;
          }
          ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: $grey;
          }

          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: $grey;        }

          ::-ms-input-placeholder { /* Microsoft Edge */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: $grey;
          }
          .btn-main {
            padding: 10px 51.5px !important;
          }
        }
      }
    }
    .disclaimer {
      background: $black;
      text-align: center;
      border-radius: 0 0 20px 20px;
      height: 50px;
      z-index: 9;
      top: -15px;
      position: relative;
      font-size: 12px;
      margin-bottom: -35px;
      span {
        position: relative;
        top: 22px;
        color: $white;
        font-weight: 700;
      }
    }
  }
}
