.partners {
  background: $purple;
  padding: 5%;
  text-align: center;
  h3 {
    color: $white;
    margin-bottom: 1%;
  }
  p {
    color: $white;
  }
  .images-wrapper {
    padding: 0% 20%;
    margin-bottom: 2rem;
  }
}
.partners-logos {
  padding: 5%;
  display: block;
  text-align: center;
  img {
    margin: 2%;
  }
}


@include media-breakpoint-down(md) {
  .partners {
    text-align: left;
    h3 {
      margin-bottom: 5%;
    }
    .images-wrapper {
      padding: 0;
      margin-bottom: 0;
    }
  }
  .partners-logos {
    text-align: center;
    img {
      width: 24%;
    }
  }

}
