  <div class="actions d-flex flex-column mt-4">
    <%= f.button :submit, t('billings.new.form.button.next'), class: 'btn-main mb-4'%>
    <% if subscription.product_is_wifi? %>
    <%= link_to t('billings.new.form.button.back'), subscription.path_to_first_step, class: 'btn-exit' %>
    <% else %>
    <%= link_to t('billings.new.form.button.back'), mobiles_path, class: 'btn-exit' %>
    <% end %>
  </div>
</div>
