<%= f.simple_fields_for :subscription do |s| %>
  <div class="mb-2">
      <%= s.hidden_field :id, value: @subscription.id %>
      <%= s.input :delivery_address, required: true, placeholder: t('billings.new.form.hint.bank'), hint: t('billings.new.form.hint.delivery_address'), readonly: true, input_html: { class: 'form-control w-100', data: {subscription_target: 'deliveryAddressInput'}} %>
  </div>
<% end %>
</div>
