<%= f.simple_fields_for :subscription do |s| %>
  <div class="form-inputs-wrapper mb-2">
      <%= s.hidden_field :id, value: @subscription.id %>
      <%= s.input :delivery_address, required: true, label: t('step.billing.form.label.delivery_address'), placeholder: "You cannot change this field", hint: t('step.billing.form.hint.delivery_address'), readonly: true, input_html: { class: 'form-control w-100', data: {subscription_target: 'deliveryAddressInput'}} %>
  </div>
<% end %>
</div>
