// V1 Colors
$white: #FFFFFF;
$black: #002143;
$dark-grey: #798CA0;
$grey: #C3CED9;

$very-light-grey: #F9FCFF;
$blue: #0D4D90;
$dark-blue: #003168;
$light-blue: #F2F8FD;
$orange: #EC9A4A;
$orange-hover: #CD7E31;
$orange-focus: #B66D27;
$red: #FF7163;
$pink: #F8BAB4;
$light-pink: #FFF5EE;
$yellow: #FFC65A;
$green: #1EDD88;
$red-alert: #FD1015;
//V2 Colors
$purple: #8C30F5;
$pink: #F1E4FF;
$light-turquoise: #D5FAFC;
$turquoise: #75E3EA;
$grey: #696F79;
$blue: #0078D4;
$light-grey: #E5E7EB;
$green: #31C48D;
$yellow: #FFC278;
$dark: #333333;
$light-grey: #8692A6;
$light-black: #18191F;
