$purple: #8C30F5;
$black: #18191F;
$white: #FFFFFF;
$cyan: #75E3EA;
$black-gradient: linear-gradient(180deg, #333333 3.61%, #212121 100%);
$grey-gradient: linear-gradient(180deg, rgba(242, 247, 255, 0.7) 0%, rgba(242, 247, 255, 0) 100%, rgba(242, 247, 255, 0) 100%);
$white-gradient: linear-gradient(175.77deg, #F3F7FF -10.64%, #DEEEFE 92.65%);
$footer-gradient: linear-gradient(180deg, #333333 3.61%, #212121 100%);
$taupe: #978CA4;
$anthracite: #291E36;
$dark-taupe: #51465E;
$grey: #969BAB;
$snow: #F4F5F7;
$purple-opacity: rgb(50,35,76);
$grey-snow: #D9DBE1;
$black-white-gradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 101.75%);
$grey-metal: rgb(246,246,246);
$dropdown-hover: rgb(246,238,254);
$very-dark-purple-gradient: linear-gradient(180deg, rgba(140, 48, 245, 0.2) 0%, rgba(110, 48, 181, 0.2) 100%);
$light-purple: #9D4FF7;
$dark-purple-gradient: linear-gradient(180deg, #4D1A87 0%, #6C2FB1 100%);
$turquoise: #3175E3;
$dark-cloud: #696F79;
$light-cyan: #D5FAFC;
$yellow: #FFC278;
$blue: #2266CD;
$red: #FF6C6C;
$green: #2FAB73;
$background-category: #FBFBFB;
$background-see-offers: rgb(240, 231, 250);
$border-button: #6408CD;
$hover-button: rgb(97,40,162);
$hover-border-button: rgb(50,27,90);
$readonly: #F2F8FF;
$hover-exit-button: #F2F8FF;
$background-light-purple: rgb(223,207,242);
$footer-breaker: rgb(74,74,74);
$focus-form: rgba(140,48,245,0.35);
$border-card: rgba(147, 120, 255, 0.14);
$dashed-steps: rgba(147, 120, 255, 0.14);
$background-step: rgb(245, 244, 252);
$body-background: linear-gradient(#F2F7FF, #fff);
