// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$black: #002143;
$dark-grey: #798CA0;
$gray: #C3CED9;
$light-gray: #EEF1F4;
$very-light-gray: #F9FCFF;
$blue: #0D4D90;
$light-blue: #F2F8FD;
$orange: #EC9A4A;
$orange-hover: #CD7E31;
$orange-focus: #B66D27;
$red: #FF7163;
$pink: #F8BAB4;
$light-pink: #FFF5EE;
$yellow: #FFC65A;
$green: #1EDD88;
$red-alert: #FD1015;
