.about-container {
  padding-top: 80px;
  .big-blue-bubble {
    left: -200px;
    top: -230px;
  }
  .small-yellow-bubble {
    right: 60px;
    top: 181px;
  }
  .big-purple-bubble {
    bottom: -120px;
    right: -200px;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
  }
  img {
    height: 146px;
    border-radius: 30px;
  }
  h5 {
    font-weight: 800;
    font-size: 20px;
    color: $black;
  }
  h6 {
    font-weight: 800;
    font-size: 18px;
    color: $purple;
  }
  .experiences {
    font-weight: normal;
    font-size: 18px;
    color: $black;
  }
}
