.about-container {
  padding-top: 80px;
  .big-blue-bubble {
    left: -200px;
    top: -230px;
  }
  .small-yellow-bubble {
    right: 60px;
    top: 181px;
  }
  .big-purple-bubble {
    bottom: -120px;
    right: -200px;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    color: $grey;
    line-height: 40px;
  }
  .fa-info {
    font-size: 48px;
  }
  .mid-section {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    color: $black;
    line-height: 0;
    display: block;
  }
  img {
    width: 295px;
    border-radius: 30px;
    display: block;
  }
  .inside {
    opacity: 0;
    top: 10%;
    left: 10%;
    z-index: 2;
    transition: all 0.3s ease-in;
    .name {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: $white;
    }
    .role {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: $cyan;
    }
  }
  .purple-card {
    position: absolute;
    content:"";
    height: 100%;
    width: 0%;
    top: 0;
    background: linear-gradient(180deg, #4D1A87 0%, #6C2FB1 100%);
    opacity: 0;
    border-radius: 30px;
    transition: all 0.3s ease-in;
  }
  .partner {
    img {
      border-radius: 0;
      width: 40%;
      padding: 5%;
    }
    span {
      font-weight: 500;
      font-size: 18px;
      color: $black;
    }
  }
}

@include media-breakpoint-down(md) {
  .about-container {
    padding-top: 2rem;
    h2, h4 {
      font-family: 'Montserrat';
    }
    h2 {
      font-size: 26px;
      font-weight: bold;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      line-height: 19px;
      text-align: justify;
      font-weight: 500;
      color: $grey;
    }
    .inside {
      opacity: 0;
      top: 10%;
      left: 10%;
      z-index: 2;
      transition: all 0.3s ease-in;
    }
    .inside .name {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: $white;
    }
    .inside .role {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: $cyan;
    }
    img {
      width: 100%;
      border-radius: 30px;
      height: 100%;
      display: block;
    }
    .mid-section {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: $black;
    }
    .background-box {
      background: $dark-taupe;
      color: $white;
      width: 100vw;
      margin-left: calc((100% - 100vw) / 2);
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $white;
      }
    }
    .purple-card {
      position: absolute;
      content:"";
      height: 100%;
      width: 0%;
      top: 0;
      background: linear-gradient(180deg, #4D1A87 0%, #6C2FB1 100%);
      opacity: 0;
      border-radius: 30px;
      transition: all 0.3s ease-in;
    }
  }
}
