.dashboard-container {
  .checkboxes-wrapper {
    border-radius: 6px;
    background: $white;
    img {
      top: -30%;
    }
    .checkboxes {
      margin-top: 8rem;
      label {
        align-items: center;
        justify-content: flex-end;
        i {
          margin-right: 1rem;
        }
      }
    }
  }
  .tracking {
  background: $white;
    border-radius: 6px;
    margin-top: 8rem;
    padding: 5%;
    .title {
      color: $purple;
      font-weight: bold;
    }
    .tracking-id {
      font-size: 22px;
    }
  }
  .banner-purple {
    background: $purple;
    padding: 5%;
    h2.title {
      color: $white;
    }
  }
  #pre-registered {
    background: $green;
    cursor: unset;
  }
}



@include media-breakpoint-down(md) {
  .dashboard-container {
    .tracking {
      margin-top: auto;
    }
  }
}
