.dashboard-container {
  padding-top: 70px !important;
  h1 {
    color: $black;
    font-weight: 800;
    font-size: 38px;
  }
  .address {
    font-weight: bold;
    font-size: 14px;
    .fas{
      color: #75E3EA;
      font-size: 17px;
    }
  }
  .big-blue-bubble {
    z-index: -1;
    top: -20%;
    left: -15%;
  }
  .small-blue-bubble {
    left: 93%;
    top: 140%;
  }
  .small-yellow-bubble {
    left: 69%;
    top: 20%;
    z-index: -1;
  }
  .half-purple-bubble {
    right: 0px;
    bottom: 0%;
    z-index: -1;
  }
}
