.starter-dashboard {
  font-family: 'Poppins';
  .title-price {
    font-size: 24px;
    font-weight: 400;
  }
  .order-date {
    font-size: 16px;
    font-weight: 400;
    color: #626262;
  }
  .products-title {
    font-size: 18px;
    font-weight: 700;
  }
  .product {
    font-size: 14px;
    font-weight: 400;
  }
}
.no-order {
  .message {
    font-size: 24px;
    font-weight: 600;
  }
  .onboarding-btn {
    width: 80% !important;
  }
}