.plan-details {
  .plan-price {
    font-size: 24px;
    font-weight: 400;
  }
  .period {
    font-size: 16px;
    font-weight: 400;
    color: #626262;
  }
  .button-desc {
    font-size: 10px;
    color: #979797;
    font-weight: 400;
  }
  .details {
    .details-title {
      font-size: 18px;
      font-weight: 600;
    }
    .details-text {
      font-size: 14px;
      font-weight: 400;
    }
    .details-text-alt {
      font-size: 14px;
      font-weight: 400;
      color: #979797;
    }
  }
}