.starter-dashboard {
  .products {
    .fad {
      width: 25px;
    }
  }
  .no-order {
    .message {
      font-size: 24px;
      font-weight: 600;
    }
    .onboarding-btn {
      width: 80% !important;
    }
  }
}