.home-container {
  h2 {
    font-weight: 800;
    margin-bottom: 3rem;
    font-size: 21px;
  }
  section {
    margin-bottom: 5rem;
  }
  .main-title h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    margin-bottom: 4rem;
  }

  #testimonials i {
    font-size: 45px;
    cursor: pointer;
    transition: 1s;
  }
  #partners {
    p.title {
      font-weight: 800;
      color: $taupe;
      opacity: 0.6;
      font-size: 20px;
      line-height: 30px;
    }
    .partner {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
      border-radius: 27.5px;
      img {
        width: 60%;
      }
    }
  }
}



@include media-breakpoint-down(md) {
  .home-container #partners p.title {
    font-size: 16px;
  }
  .home-container {
    section {
      margin-bottom: 4rem;
    }
    .main-title h1 {
      font-size: 38px;
      text-align: center;
    }
    #partners .partner {
      height: 60px;
      margin-bottom: 1rem;
    }
    #partners .partner img {
      width: 60%;
    }
    #about-us .wrapper {
      padding: 0;
    }
    h2 {
      font-weight: 800;
      margin-bottom: 3rem;
      font-size: 20px;
    }
  }
}





