// Specific CSS for your home-page
body {
 background: $white;
 color: $light-black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.wrapper{
  flex: 1 !important;
}

.termly-style-cookie-preference-44d002 {
  font-size: 14px !important;
}

.ap-input-icon {
  display: none;
}

a {
  color: $light-black;
}

a:hover {
  text-decoration: none;
  color: $light-black;
}

section {
  margin-bottom: 5rem;
}


.ap-suggestion {
  text-align: left;
  color: black;
}

.font-weight {
  font-weight: 800;
}

.green {
  color: $green;
}

.grey {
  color: $grey;
}

.purple {
  color: $purple !important;
}

.main-title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  margin-bottom: 4rem;
}

#partners .partner {
  img {
    width: 50%;
  }
}

@include media-breakpoint-down(md) {
  .min-height {
    height: 100%;
  }
  section {
    margin-bottom: 4rem;
  }
  .main-title h1 {
    font-size: 38px;
    text-align: center;
  }
  #partners .partner img {
      width: 100%;
  }
  #about-us .wrapper {
    padding: 0;
  }
}

