.home-container {
  padding-top: 5rem;
  .why {
    h2.title {
      font-size: 24px;
      font-family: 'Poppins';
      margin-bottom: 1.5rem;
      font-weight: 600;
    }
    .reason {
      display: flex;
      align-items: center;
      margin-bottom: 19px;
      img {
        margin-right: 32px;
      }
      h3.headline {
        font-weight: 600;
        font-size: 18px;
        font-family: 'Poppins';
        margin-bottom: 4px;
      }
      p.desc {
        font-size: 16px;
        font-weight: 200;
        color: $black;
      }
    }
    a {
      width: 70%;
    }
  }
  .pricing {
    background: $purple;
    padding: 3rem;
    h2.title {
      font-size: 48px;
      font-weight: bold;
      color: $white;
    }
    p.subline {
      font-weight: 600;
      font-size: 15px;
      opacity: 0.4;
      color: $white;
    }
    .details {
      text-align: center;
      .link {
        font-weight: 600;
        font-size: 14px;
        color: $white;
        text-decoration: underline;
      }
    }
    .cards {
      margin-bottom: 54px;
    }
  }
  .partners {
    h2.title {
      color: $light-grey;
      font-weight: 400;
      font-family: 'Poppins';
      font-size: 16px;
    }
    .companies {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@include media-breakpoint-down(md) {
  .home-container {
    padding-top: 1rem;
    .why {
      a {
        width: 100%;
      }
    }
    .pricing {
      h2.title {
        font-size: 35px;
      }
      padding: 2rem 0;
    }
    .partners {
      .companies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        align-items: center;
      }
    }
  }
}
