.how-it-works-container {
  h1 {
    margin-bottom: 40px;
  }
  img.iphone-illustration {
    width: 55%;
  }
  h3 {
    color: $purple;
    margin-bottom: 30px;
  }
  p.description {
    color: $black;
  }
}
@include media-breakpoint-down(md) {
  .how-it-works-container {
    img.iphone-illustration {
      margin-bottom: 1rem;
    }
    .content {
      background: $purple;
      padding: 1rem;
      h3, p {
        color: $white;
      }
    }
    .picture {
      margin-bottom: -80px;
    }
  }
}
