.how-it-works-container {
  padding-top: 80px;
  img {
    width: 278.09px;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  h4 {
    font-weight: 800;
    font-size: 26px;
  }

  p {
    font-size: 18px;
    color:  #969BAB;
    line-height: 40px;
  }
  .big-blue-bubble {
    left: -200px;
    top: -230px;
  }
  .small-yellow-bubble {
    right: 150px;
    top: 200px;
  }
  .big-purple-bubble {
    bottom: -120px;
    right: -280px;
  }
}
