.how-it-works-container {
  padding-top: 80px;
  img {
    width: 278.09px;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  h4 {
    font-weight: 800;
    font-size: 26px;
  }

  p {
    font-size: 18px;
    color: $grey;
    line-height: 40px;
  }
  .big-blue-bubble {
    left: -200px;
    top: -230px;
  }
  .small-yellow-bubble {
    right: 150px;
    top: 200px;
  }
  .big-purple-bubble {
    bottom: -120px;
    right: -280px;
  }
}

@include media-breakpoint-down(md) {
  .how-it-works-container {
    h2, h4, p, .step {
      font-family: 'Montserrat';
    }
    h2 {
      font-size: 26px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      line-height: 19px;
      text-align: justify;
    }
    .step {
      font-size: 26px;
      font-weight: bold;
      color: $purple;
      background: $snow;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-radius: 50%;
    }
  }
}
