.how-it-works-container {
  padding-top: 80px;
  .way {
    width: 60%;
    left: 10%;
    top: 27%;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  h4 {
    font-weight: 800;
    font-size: 26px;
  }

  p {
    font-size: 18px;
    color: $grey;
    line-height: 40px;
    font-weight: lighter;
  }
  .big-blue-bubble {
    left: -200px;
    top: -230px;
  }
  .small-yellow-bubble {
    right: 150px;
    top: 200px;
  }
  .big-purple-bubble {
    bottom: -120px;
    right: -280px;
  }
  .num {
    background: #F4F5F7;
    border-radius: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #8C30F5;
    margin-right: 1rem;
    width: 70px;
    min-width: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .way {
    width: 93%;
    left: -7%;
    top: 23%;
  }
}


@media screen and (max-width: 1450px) {
  .way {
    width: 90% !important;
    left: -9% !important;
    top: 24% !important;
  }
}


@include media-breakpoint-down(md) {
  .how-it-works-container {
    padding-top: 2rem;
    h2, h4, p, .step {
      font-family: "Montserrat", sans-serif;
    }
    h2 {
      font-weight: bold;
      font-size: 26px;
      line-height: 37px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      line-height: 19px;
      text-align: justify;
    }
    .step {
      font-size: 26px;
      font-weight: bold;
      color: $purple;
      background: $snow;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-radius: 50%;
    }
  }
}
