.pricing-container {
  h2.title {
    font-size: 36px;
    line-height: 58px;
  }
  p.subheadline {
    font-size: 24px;
  }
  .pricing-card {
    h2.title, p.desc {
      color: $black;
    }
  }
  .services {
    .product-card {
      min-height: 470px;
    }
  }
  .benefits-wrapper {
    position: relative;
    .bg-position {
      width: 46%;
      top: -62px;
    }
    .benefits-card {
      background: white;
      color: $black;
      height: 272px;
      width: 200px;
      margin-bottom: 1rem;
      border-radius: 14px;
      display: flex;
      align-items: center;
      padding: 0% 2.5%;
      h2 {
        font-weight: bold;
        font-size: 36px;
      }
      strong {
        font-weight: 600;
      }
      .img-box {
        width: 75px;
        display: flex;
        align-items: center;
        background-size: cover;
        justify-content: center;
        background-position: center;
        height: 75px;
        margin-bottom: 1rem;
      }
      img {
        width: 30px;
      }
    }
  }
  .banner {
    min-height: auto;
    a {
      width: 80%;
    }
  }
  .linear-purple {
    background: linear-gradient(180deg, rgba(131, 48, 245, 0.9) 0%, rgba(59, 0, 140, 0.7) 100%);
  }
}

@include media-breakpoint-down(md) {
  .pricing-container {
    h2.title {
      font-size: 24px;
      line-height: 58px;
    }
    p.subheadline {
      font-size: 16px;
    }
    .services {
      .product-card {
        min-height: auto;
      }
    }
    .benefits-wrapper {
      h2 {
        margin-bottom: 1.5rem !important;
      }
      .benefits-card {
        color: white;
        height: 94px;
        width: auto;
        background: #512DA8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, $purple, #512DA8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, $purple, #512DA8);
        img {
          margin-right: 1rem;
        }
      }
    }
  }
}
