.services-container {
  padding-top: 110px;
  margin-bottom: 5rem;
  .service-image {
    height: 70px;
  }
  .big-blue-bubble {
    left: -200px;
    top: -230px;
  }
  .small-yellow-bubble {
    right: 130px;
    top: 220px;
  }
  .big-purple-bubble {
    bottom: 0;
    right: -200px;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
    text-align: justify;
  }
  h4 {
    font-weight: 800;
    font-size: 26px;
    line-height: 48px;
    text-align: justify;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    text-align: justify;
  }
  h6 {
    font-weight: 800;
    font-size: 18px;
    color: $purple;
    text-align: justify;
    line-height: 32px;
  }
  h3 {
    font-weight: 800;
    font-size: 40px;
  }
  font {
    color: $purple;
  }
  .footer-header {
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: $purple;
  }
  .feature-card {
    background: $white;
    border: 1px solid $grey-snow;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 24px;
    h4 {
      font-weight: 800;
      font-size: 26px;
      color: $purple;
      .green {
        color: $green;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .services-container {
    padding-top: 2rem;
    h2, h4 {
      font-family: 'Montserrat';
    }
    h2 {
      font-size: 26px;
      font-weight: bold;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      line-height: 19px;
      text-align: justify;
    }
  }
  .static-scroller {
    .hs {
      grid-template-columns: repeat(6, calc(80% - var(--gutter) * 2));
      grid-template-rows: minmax(100px, 1fr);
      .item {
        a {
          border: 2px solid $grey;
          border-radius: 40px;
        }
        a.active {
          border: 2px solid $purple !important;
        }
      }
    }
    .service-card-tab {
      padding: 11px 20px;
      border-radius: 40px;
      width: 210px;
      height: 60px;
      background: $snow;
      box-sizing: border-box;
      span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $purple;
      }
      .service-picto {
        width: 30px;
      }
    }
    .services-card-static {
      .info-block {
        img {
          width: 30px
        }
        p {
          color: $grey !important;
        }
      }
      .features {
        h4, p, h6 {
          font-family: 'Montserrat';
        }
        h4 {
          font-weight: 700;
          font-size: 14px
        }
        h3 {
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 22px;
          font {
            color: $purple;
          }
        }
        p:first-child {
          font-weight: normal;
          font-size: 12px;
          line-height: 19px;
          color: $grey;
        }
        h6 {
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.05em;
          color: $purple;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 19px;
          color: $black;
        }
        .btn-main {
          font-size: 14px;
        }
      }
    }
  }
}

