<div class="modal fade mobile-modal dashboard-mobile-modal" id="addServiceModalMobile" tabindex="-1" aria-labelledby="addServiceModalMobileLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" id="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="d-flex justify-content-between flex-column-reverse align-items-center">
              <h3 class="title">Go further with movido</h3>
              <i class="fad fa-bars grey mb-3" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <span class='subtitle'>Today with movido find all the services you need to enjoy your home.</span>
          </div>
          <hr>
          <div class="row">
            <% @inactive_products.each do |product| %>
              <div class="col-12 my-2">
                <div class="card-service" data-dashboard-target='card' data-id="<%= product.id %>" data-action="click->dashboard#openModal">
                  <img src=<%= asset_path("components/service-card/#{product.category.name}.png") %> />
                  <div class="card-service-infos">
                    <h2><%= product.name %></h2>
                    <p class='description'><%= product.description %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 text-center">
              <div class="add-service-form">
                <span>This is lorem ipsum</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

