<div class="modal modal-booking fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="top-nav d-flex justify-content-between align-items-center mb-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fad fa-times"></i></button>
          <span class="main-title text-center">Booking request</span>
          <span></span>
      </div>
      <div class="modal-body">
        <hr class="w-100">
        <div class="booking-body"></div>
      </div>
    </div>
  </div>
</div>
