<div class="booking-input d-flex align-items-center justify-content-around">
  <span class="price"><%= flat[:price] %> <%= flat[:currency_code] %> /<%= flat[:billing] %></span>
  <%= link_to 'Book now', booking_link(flat[:city], flat[:code], current_user.flat_preference.country), class:'btn-flat-card', target:'blank' %>
</div>
