<div class="flat-card-lite w-100">
  <div class="img-box mb-2" style="background-image:url(<%= flat[:images][0]['url'] %>);"></div>
  <div class="d-flex flex-column">
    <span class="name mb-2">iQ Aldgate</span>
    <span class="pricing">£263 - £476 /month</span>
  </div>
</div>
