<div class="row">
  <div class="col-12">
    <h1>Banner Filters</h1>
  </div>
  <div class="flats-wrapper w-100">
    <div class="title d-flex align-items-center justify-content-between">
      <h3>Location</h3>
    </div>
    <div class="flats-card-wrapper w-100">
      <% flats.map do |flat| %>
        <%= render 'flats/mobile/card', flat: flat, type: type, location: location %>
      <% end %>
    </div>
  </div>
</div>
