<div class="container flats-container">
    <div class="w-100 text-center spinner-container" data-controller="content-loader" data-content-loader-url-value="<%= flats_listing_path(@location, @type) %>">
      <div class="lds-circle"><div></div></div>
      <h1>We are digging for awesome flats, please wait ...</h1>
    </div>
</div>

