<div class="flats-container container" data-controller="infinite-scroll">
  <div class="row">
    <div class="col-12">
      <h1>Banner Filters</h1>
    </div>
    <div class="flats-wrapper w-100">
      <div class="title d-flex align-items-center justify-content-between">
        <h3>Location</h3>
      </div>
      <div class="flats-card-wrapper w-100" data-infinite-scroll-target="entries">
        <%= render 'flats/mobile/flats' %>
      </div>
    </div>
    <div data-infinite-scroll-target="pagination">
      <%== pagy_nav(@pagy) %>
    </div>
    <div class="w-100 text-center spinner-container d-none" data-infinite-scroll-target="spinner">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
