<div class="flats-container container" data-controller="infinite-scroll" data-turbolinks="false">
  <div class="row">
    <%= render 'flats/mobile/subnavbar' %>
    <div class="flats-wrapper w-100">
      <div class="flats-card-wrapper w-100" data-infinite-scroll-target="entries">
        <%= render 'flats/mobile/flats', flats: @flats, type: @type, location: @location  %>
      </div>
    </div>
    <div data-infinite-scroll-target="pagination">
      <%== pagy_nav(@pagy) %>
    </div>
    <div class="w-100 text-center spinner-container d-none" data-infinite-scroll-target="spinner">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
