<div class="container landing-container">
  <h1>Where do you want to stay in?</h1>
  <div data-controller='flats'>
    <%= simple_form_for :query, url: search_flats_path, html: {method: :post} do |f| %>
      <div data-flats-target="geocoder" class="geocoder"></div>
      <%= f.submit "Search", class: "btn btn-main" %>
    <% end %>
  </div>
</div>
