<div class="navbar navbar-flats navbar-expand-sm navbar-light navbar-movido d-flex align-items-center justify-content-between" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to (action == 'index' ? providers_path(location) : flats_path(location, type)), class: 'location d-flex align-items-center' do %>
    <i class="far fa-chevron-left mr-4"></i>
    <span><%= t('providers.index.student_housing') %></span>
  <% end %>
  <div class="partner">
    <span class="subline">Partnered by</span>
    <%= image_tag(asset_path("flats/partners/#{FacilitiesHelper::PROVIDERS[type]}.png"), width: '70px') %>
  </div>
</div>
