<div class="col-12 text-center">
  <i class="far fa-glass-cheers" style="font-size: 50px"></i>
  <p>Congratulations for your booking</p>
  <%= link_to 'See your dashboard', root_path, class:'btn-flat-card w-100' %>
</div>
