<div class="flat-summary d-flex">
  <div class="img" style="background-image: url(<%= flat[:images][0][:url] %>)"></div>
  <div class="details d-flex flex-column justify-content-evenly">
    <span class="title"><%= flat[:title] %></span>
    <hr>
    <span class="price"><%= flat[:price] %> / <%= flat[:billing] %></span>
  </div>
</div>
