.congratulations-container {
  .next-step-banner {
    background: $purple;
    padding: 2% 4%;
    margin-bottom: 2rem;
    p {
      color: $white;
      font-size: 16px;
    }
    img {
      width: 50%;
      position: relative;
      top: 0;
    }
    .title {
      font-weight: bold;
      font-size: 32px;
      margin-top: 1.5rem;
    }
  }
  .coming-soon {
    background: $purple;
    color: $white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-weight: 600;
  }
  .partners {
    background: $purple;
    padding: 5%;
    text-align: center;
    color: $white;
    p {
      color: $white;
    }
  }
  .ticks-card {
    box-shadow: none;
    .product-details {
      .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .link-social {
    height: 10%;
    .social-media {
      width: 90%;
    }
  }
  .btn-main-white {
    width: 40%;
  }
}


@include media-breakpoint-down(md) {
  .congratulations-container {
    .next-step-banner {
      margin-top: 50%;
      text-align: center;
      .img-row {
        position: absolute;
      }
      img {
        width: 90%;
        position: relative;
        top: -185px;
      }
      p {
        font-size: 16px;
      }
      .title {
        padding-top: 40%;
        font-size: 24px;
      }
    }
    .girl-pic {
       position: absolute;
       width: 100%;
       bottom: 0;
    }
    .arrival {
      margin-top: 0;
    }
    .link-social {
      height: 100%;
      .social-media {
        width: 100%;
      }
    }
    .btn-main-white {
      width: 100%;
    }
    .btn-main {
      min-width: 160px !important;
    }
  }
}
