<div class="container banks-container mb-5">
  <h2 class="mb-4"><%= t('banks.index.title') %></h2>
    <% @banks.each do |bank| %>
      <%= render 'banks/mobile/bank_card', bank: bank %>
    <% end %>
</div>


