<div class="flow-container" data-controller="animate">
  <%= render 'shared/progress_bar', step: 3 %>
  <div class="container">
    <%= render 'shared/chat', message: message %>
    <div class="content-container" data-delay="2" data-animate-target="contentContainer">
      <div class="form-base d-flex align-items-center justify-content-center flex-column">
        <%= render 'steps/cart/form', user_preference: user_preference %>
      </div>
    </div>
  </div>
</div>
