<div class="product-card">
  <%= image_tag(asset_path(item.product.image_url), class:'top-img') %>
  <div class="content">
    <h3 class="name"><%= item.product.name %></h3>
    <div class="product-details">
      <% item.product.product_details.each do |product_detail| %>
        <p class="detail"><i class="far fa-check"></i><%= product_detail.content %></p>
      <% end %>
    </div>
    <p class="description"><%= item.product.description %></p>
  </div>
</div>
