<div class="flow-container" data-controller="animate">
  <div class="container">
    <div class="content-container" data-delay="0" data-animate-target="contentContainer">
      More details
    </div>
  </div>
</div>
