<div class="container d-flex h-auto align-content-between my-3">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="product-card m-2" id="card-blue">
        <div class="top text-center text-white">
          <p class="description">Find your offer <strong>in 5mins</strong> instead of the usual 4hrs</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="product-card m-2" id="card-purple-2">
        <div class="top text-center text-white">
          <p class="description"><strong>Get exclusive discounts</strong> which you don’t find anywhere else online</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="product-card m-2" id="card-purple-1">
        <div class="top text-center text-white">
          <p class="description">We have pre-selected <strong>the best providers in the market for you</strong> so you don’t fall for the wrong one</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="product-card m-2" id="card-purple-3">
        <div class="top text-center text-white">
          <p class="description"><strong>Personalized support</strong> instead of generic hotlines</p>
        </div>
      </div>
    </div>
  </div>
</div>