<section class="advantages-cards d-md-none">
  <div class="container my-3">
    <div class="row">
      <h2 class="purple bold">You're moving to France or the UK?</h2>
      <p class="text-center">You’re in the right place! With Movido, make your move abroad as easy as making a cup of tea.</p>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column justify-content-around">
        <div class="advantage m-2 bg-blue">
          <span class="description">Find your offer <strong>in 5mins</strong> instead of the usual 4hrs</span>
        </div>
        <div class="advantage m-2 bg-purple-1">
          <span class="description"><strong>Get exclusive discounts</strong> which you don’t find anywhere else online</span>
        </div>
      </div>
      <div class="col-6 d-flex flex-column justify-content-around">
        <div class="advantage m-2 bg-purple-2">
          <span class="description">We have pre-selected <strong>the best providers in the market for you</strong> so you don’t fall for the wrong one</span>
        </div>
        <div class="advantage m-2 bg-purple-3">
          <span class="description"><strong>Personalized support</strong> instead of generic hotlines</span>
        </div>
      </div>
    </div>
  </div>
</section>
