<section class="banner container">
  <div class="row align-items-center">
    <div class="col-md-5 d-flex align-items-center">
      <div class="content">
        <h1>Get all your contracts in one customizable bundle</h1>
        <p>Choose your destination</p>
        <div data-controller='banner' class='form-base'>
          <select name="countries" id="country-select" data-action="change->banner#updateCountry" class='custom-select w-100 mb-3'>
              <option value="uk">United Kingdom</option>
              <option value="fr">France</option>
          </select>
          <div class='checkboxes-banner d-none'>
            <%= render 'shared/components/checkboxes', city: 'Paris', country: Country.find_by(code: 'fr') %>
          </div>
          <div class="checkboxes-banner">
            <%= render 'shared/components/checkboxes', city: 'London', country: Country.find_by(code: 'gb') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 d-none d-md-block text-end">
      <%= image_tag(asset_path('components/homepage/product-iphone-view.png')) %>
    </div>
  </div>
</section>
