<section class="banner container">
  <div class="row align-items-center">
    <div class="col-md-5 d-flex align-items-center">
      <div class="content">
        <h1>Local SIM card, transportation and more - everything you need before you arrive</h1>
        <%= image_tag(asset_path('components/homepage/product-iphone-view.png'), class:'d-block d-md-none') %>
        <div class="row mb-4">
          <p class="col-6 feature"><i class="far fa-check me-3"></i>all in 1 bill</p>
          <p class="col-5 feature"><i class="far fa-check me-3"></i>without fees</p>
        </div>
        <div class="row mb-3">
          <p class="col-6 feature"><i class="far fa-check me-3"></i>no commitment</p>
          <p class="col-5 feature"><i class="far fa-check me-3"></i>in 5 mins</p>
        </div>
        <%= link_to 'Get Started', onboarding_path, class: 'btn-main mb-5 mb-md-0 mt-md-5' %>
      </div>
    </div>
    <div class="col-md-7 d-none d-md-block text-end">
      <%= image_tag(asset_path('components/homepage/product-iphone-view.png')) %>
    </div>
  </div>
</section>
