<section class="book-a-call-banner d-none d-md-flex align-items-center justify-content-evenly">
    <p><strong>Any questions?</strong> Book a call now and speak to us.</p>
    <%= link_to 'Book a call now', 'https://calendly.com/alice_movido/movido-introcall', class:'btn-main-white' %>
</section>
