  <section class="book-a-call-banner w-100 d-flex d-md-none">
    <span class="subline"><strong>Any questions?</strong> Speak to us.</span>
    <%= link_to "<i class='fas fa-headphones-alt me-1'></i> Book a call".html_safe, 'https://calendly.com/alice_movido/movido-introcall', class: 'cta-call d-block py-1' %>
  </section>
