  <section class="how-it-works d-none d-md-block mb-5">
    <div class="container">
      <div class="row position-relative">
        <div class="col-12 mb-4">
          <h2 class="title">How it works</h2>
          <p class='text-center'>Get everything you need before you arrive in three simple steps.</p>
        </div>
        <div class="col-4 card flex-column text-center">
          <div class="number mb-4">
            <span>1</span>
          </div>
          <div class="content d-flex flex-column">
            <span class='title'>You choose what you want</span>
            <span class='description'>Get started and choose the offers you want – all in one personalized bundle.</span>
          </div>
        </div>
        <div class="line_1"></div>
        <div class="col-4 card flex-column text-center">
          <div class="number mb-4">
            <span>2</span>
          </div>
          <div class="content d-flex flex-column">
            <span class='title'>You choose what you want</span>
            <span class='description'>Get started and choose the offers you want – all in one personalized bundle.</span>
          </div>
        </div>
        <div class="line_2"></div>
        <div class="col-4 card flex-column text-center">
          <div class="number mb-4">
            <span>3</span>
          </div>
          <div class="content d-flex flex-column">
            <span class='title'>You choose what you want</span>
            <span class='description'>Get started and choose the offers you want – all in one personalized bundle.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
