<section class="mid-banner d-block d-md-none">
  <div class="container">
    <h2 class="title">No commitment & cancel anytime</h2>
    <p class="desc">Our offers have no commitment period. You can cancel anytime at no extra cost. All of that in just 2 clicks.</p>
    <span class="btn-main w-100" data-action="click->lead#scrollTop">Register now</span>
  </div>
</section>
