<section class="background-size-cover mid-banner mb-5 d-none d-md-block" style="background-image:url(<%= asset_path 'components/homepage/banner-purple.png' %>);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 step-top">
        <%= image_tag(asset_path('components/homepage/floating-card-girls.png'), class:'w-50 me-5') %>
        <div>
          <h3 class="title">No commitment & cancel anytime</h3>
          <p class="desc">Our offers have no commitment period. You can cancel anytime at no extra cost. All of that in just 2 clicks.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 step-bottom" >
        <div>
          <h3 class="title">Join our Global Community</h3>
          <p class="desc">Looking for tips & tricks? Either ask the community or find what you are looking for in our resource center. </p>
        </div>
        <%= image_tag(asset_path('components/homepage/floating-card-boys.png'), class:'w-50') %>
      </div>
    </div>
  </div>
</section>
