<section class="container partners">
    <h3 class="title mb-0">In collaboration with:</h3>
    <div class="companies">
      <% @companies_logo_urls.each do |url| %>
      <%= image_tag(asset_path(url), width: '110px') %>
      <% end %>
    </div>
  </section>
