<section class="pricing">
  <div class="container">
    <h2 class="title mb-0">What does movido offer?</h2>
    <p class="subline">Get your SIM card, local transportation card, WiFi, utilities and more - all in 5 mins, online and without fees. Customize your own contract bundle.</p>
    <div class="cards">
      <div class="row">
        <div class="col-12 col-lg-5 pricing-card mb-5 mb-lg-0">
          <h3 class="title">Starter Pack</h3>
          <h4 class="desc">Delivered to your current home before you move</h4>
          <div class="card starter">
            <div>
              <span class="price">£1*</span>
              <p class="desc">Everything you need to start in the good way</p>
              <ul>
                <li><i class="fas fa-check"></i>Local phone number</li>
                <li><i class="fas fa-check"></i>Public transportation card</li>
                <li><i class="fas fa-check"></i>Airport pick-up to city center</li>
                <li><i class="fas fa-check"></i>Everything you need <u>before</u> you arrive</li>
                <li><i class="fas fa-check"></i>Delivered to your current home</li>
                <li><i class="fas fa-check"></i>Without fees</li>
              </ul>
            </div>
            <%= link_to "Get started", onboarding_path, class: 'rounded-button' %>
          </div>
          <span class="subline">* It can change with the products</span>
        </div>
        <div class="col-12 col-lg-7 pricing-card">
          <h3 class="title">Settle-in Pack</h3>
          <h4 class="desc">Customized offers to get you settled after arrival</h4>
          <div class="card settle-in">
            <div>
              <span class="price">10€/mo*</span>
              <p class="desc">Get setup in your new home</p>
              <ul class="row">
                <div class="col-12 col-lg-6">
                  <li><i class="fas fa-check"></i>WiFi at home</li>
                  <li><i class="fas fa-check"></i>Utilities at home</li>
                  <li><i class="fas fa-check"></i>Mobile phone contract</li>
                  <li><i class="fas fa-check"></i>Housing insurance</li>
                  <li><i class="fas fa-check"></i>Guarantor (Paris only)</li>
                  <li><i class="fas fa-check"></i>Customize your own bundle</li>
                </div>
                <div class="col-12 col-lg-6">
                  <li><i class="fas fa-check"></i>All in 1 bill each month</li>
                  <li><i class="fas fa-check"></i>No commitment! Cancel your bundle anytime</li>
                </div>
              </ul>
            </div>
            <span class="rounded-button">Coming soon!</span>
          </div>
          <span class="subline">* It can change with the products</span>
        </div>
      </div>
    </div>
    <div class="details">
      <%= link_to 'See more details', '#', class: 'link white' %>
    </div>
  </div>
</section>
