<section class="pricing">
  <div class="container">
    <h2 class="title mb-0">The movido offer</h2>
    <p class="subline">Get your SIM card, local transportation card, WiFi, utilities and more - all in 5 mins, online and without fees. Customize your own contract bundle.</p>
    <div class="cards">
      <div class="row">
        <%= render 'shared/starter_pack_card' %>
        <%= render 'shared/settle_in_pack_card' %>
      </div>
    </div>
    <div class="details">
      <%= link_to 'See more details', pricing_path, class: 'link white' %>
    </div>
  </div>
</section>
