<section class="pricing">
  <div class="container">
    <h2 class="title mb-0">The movido offer</h2>
    <div class="cards">
      <div class="row justify-content-center">
        <%= render 'shared/starter_pack_card' %>
      </div>
    </div>
    <div class="details">
      <%= link_to 'See more details', pricing_path, class: 'link white' %>
    </div>
  </div>
</section>
