  <section class="testimonials d-block d-md-none">
    <h3 class="title container">Don't just take our word for it...</h3>
    <div data-controller="carousel" class="swiper-container" data-carousel-options-value='{"pagination": {"el": ".swiper-pagination"}, "autoplay": { "delay": 3000, "disableOnInteraction": false}}'>
      <div class="swiper-wrapper">
        <div class="swiper-slide text-center">
          <%= image_tag(asset_path('components/homepage/testimonial-ellen.png'), width: 102) %>
          <h4 class="name">Ellen</h4>
          <span class="destination">From Stockholm to Paris</span>
          <p class="content">"movido helped me settle in even before arriving in Paris for my semester abroad"</p>
        </div>
        <div class="swiper-slide text-center">
          <%= image_tag(asset_path('components/homepage/testimonial-etienne.png'), width: 102) %>
          <h4 class="name">Etienne</h4>
          <span class="destination">From Berlin to London</span>
          <p class="content">"From the airport pick-up until today - I’m happy movido is there for me"</p>
        </div>
        <div class="swiper-slide text-center">
          <%= image_tag(asset_path('components/homepage/testimonial-mariana.png'), width: 102) %>
          <h4 class="name">Mariana</h4>
          <span class="destination">From Buenos Aires to London</span>
          <p class="content">"I am still using my Oyster card and giffgaff SIM every day"</p>
        </div>
        <div class="swiper-slide text-center">
          <%= image_tag(asset_path('components/homepage/testimonial-mateo.png'), width: 102) %>
          <h4 class="name">Mateo</h4>
          <span class="destination">From Barcelona to Paris</span>
          <p class="content">"I didn’t even know I needed a guarantor - movido helped me find one."</p>
        </div>
      </div>
      <div class="swiper-pagination position-relative"></div>
    </div>
  </section>
