<section class="why container mb-5">
    <h2 class="title">Why choose movido</h2>
    <div class="list row justify-content-between">
      <div class="col-12 col-md-5">
        <div class="reason">
          <%= image_tag(asset_path('icons/timer.png'), width: '40px') %>
          <div class="content">
            <h3 class="headline">Ready to use</h3>
            <p class="desc">All services come with credit –use them as soon as you arrive.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="reason">
          <%= image_tag(asset_path('icons/money.png'), width: '40px') %>
          <div class="content">
            <h3 class="headline">Save money</h3>
            <p class="desc">We negotiated the best prices for the best offers for you.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="reason ">
          <i class="fal fa-clock purple"></i>
          <div class="content">
            <h3 class="headline">Save time</h3>
            <p class="desc">Get everything you need within 5mins and fully online.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="reason">
          <%= image_tag(asset_path('icons/support.png'), width: '40px') %>
          <div class="content">
            <h3 class="headline">Dedicated support</h3>
            <p class="desc">Our team of experts is available to answer all of your questions.</p>
          </div>
        </div>
        <%= link_to 'Get started', onboarding_starter_pack_path, class: 'btn-main mb-5 mb-md-0' %>
      </div>
    </div>
  </section>
