<section class="why container d-block d-md-none">
    <h2 class="title">Why choose movido</h2>
    <hr>
    <div class="list">
      <div class="reason">
        <%= image_tag(asset_path('icons/clock.png'), width: '40px') %>
        <div class="content">
          <h3 class="headline">5 min setup</h3>
          <p class="desc">Quickly get everything you need to start your life in your new city, and receive it before you leave</p>
        </div>
      </div>
      <div class="reason">
        <%= image_tag(asset_path('icons/calendar.png'), width: '40px') %>
        <div class="content">
          <h3 class="headline">Save money</h3>
          <p class="desc">Our offers are customizable to your needs to make sure you get the best package for the best price</p>
        </div>
      </div>
      <div class="reason">
        <%= image_tag(asset_path('icons/24-24.png'), width: '40px') %>
        <div class="content">
          <h3 class="headline">Stress-free</h3>
          <p class="desc">Our support team is available for you. We are here to help you out</p>
        </div>
      </div>
    </div>
  </section>
