<section class="why container d-none d-md-block">
  <div class="text-center">
    <h2 class="title">Why choose movido</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag(asset_path('components/homepage/card-user-flow-1.png'), class:'why-img') %>
      <h3 class="title">All You Need to Start</h3>
      <p class="desc">Don’t spend hours on Google trying to find the right SIM card or figuring out a way to get housing without a guarantor…<br><br>
      Order everything you need to get started in your new city in 5 mins, online and without any fees - instantly shipped to your current home address.</p>
    </div>
    <div class="col-4 mt-4">
      <%= image_tag(asset_path('components/homepage/card-user-flow-2.png'), class:'why-img') %>
      <h3 class="title">Fully Customizable</h3>
      <p class="desc">45% of people moving abroad end up overpaying their utility contracts…<br><br>
      With movido you can customize your own bundle - saving you money and time!</p>
    </div>
    <div class="col-4 mt-5">
      <%= image_tag(asset_path('components/homepage/card-user-flow-3.png'), class:'why-img') %>
      <h3 class="title">Assistance 24/7</h3>
      <p class="desc">Visa, housing, banking… It’s easy to get overwhelmed by everything you need to do before you move abroad.<br><br>
      Our support team is available for you 24/7. We are here to help you out.</p>
    </div>
  </div>
</section>
