<div class="container banks-container mb-5">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="small-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <h2 class="text-center"><%= t('banks.index.title') %></h2>
  <%= render 'bank_details_desktop'%>
  <div class="row">
    <% @banks.each do |bank| %>
      <div class="col-10 offset-1">
        <%= render 'bank_card_desktop', bank: bank %>
      </div>
    <% end %>
  </div>
</div>


