<div class="col-md-4 col-12 profil-form-wrapper">
  <h4 class="section-title text-center"><%= t('user.profile.title') %></h4>
  <hr>
  <%= simple_form_for @user, html: {id:"profil-form", class: 'form-base'}, data: {controller: "profil-form", reflex: "submit->UserReflex#submit" } do |f| %>
  <div class="d-flex justify-content-between">
    <div data-target="profil-form.input">
      <%= f.input :first_name, readonly: true %>
      <%= f.button :submit, 'Save', class:'btn-submit' %>
    </div>
  </div>
  <% end %>
</div>
