<div class="col-md-8 col-12 p-lg-5 p-4 subscriptions-index-container">
  <div class="subscriptions-wrapper">
    <h4 class="section-title text-center py-3 mb-0">Subscriptions</h4>
    <div class="table">
      <div class="headers px-3 py-3 d-flex align-items-center justify-content-between">
        <span class="header column">Service</span>
        <span class="header column">Provider</span>
        <span class="header column">Rate</span>
        <span class="header column d-lg-block d-none">Start date</span>
        <span class="header column d-lg-block d-none">Get in touch</span>
        <span class="header column"></span>
      </div>
      <div class="rows px-3">
        <% current_user.subscriptions.where(state: 'pending_processed').each do |subscription| %>
        <%= render 'subscription', subscription: subscription %>
        <% end %>
        <% if current_user.subscriptions.where(state: 'pending_processed').blank?  %>
        <div class="subscription py-2 pl-3 d-flex justify-content-between align-items-center p-3">
          <span>You have no active subscriptions</span>
          <%= link_to "See Offers", dashboard_index_path, class: "btn-minor py-1 column" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'users/addresses' %>
</div>
