<div class="col-md-8 col-12 p-lg-5 p-4 subscriptions-index-container">
  <div class="subscriptions-wrapper">
    <h4 class="section-title text-center py-3 mb-0">My subscriptions</h4>
    <div class="table">
      <div class="headers px-lg-1 px-3 py-3 d-flex align-items-center justify-content-between">
        <span class="header column">Service</span>
        <span class="header column">Provider</span>
        <span class="header column">Rate</span>
        <span class="header column"></span>
      </div>
      <div class="rows px-lg-1 px-3">
        <% current_user.subscriptions.each do |sub| %>
        <%= render 'subscription', sub: sub %>
        <% end %>
      </div>
    </div>
  </div>
</div>
