<div class="chat-container">
  <div class="chat-message" data-delay="<%= message[:delay] %>" data-animate-target="message">
    <%= image_tag(asset_path('components/simplicity/chat-profile-picture.png')) %>
    <div class="chat-box">
      <span class="name">Alice</span>
      <p class="content m-0"><%= message[:content] %></p>
    </div>
  </div>
</div>
