<div class="navbar navbar-expand-md navbar-light navbar-movido" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to root_path, class: "navbar-brand me-0" do %>
    <%= image_tag(asset_path("logos/movido-black.svg")) %>
  <% end %>
  <div id="hamburger" type="button" data-bs-toggle="modal" data-bs-target="#menuModal">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <%= render 'shared/navbar_links' %>
  <%= render 'shared/navbar_links_dashboard' %>
</div>
