<div class="profile-dropdown dropdown">
  <div class="profile-dropdown-button d-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-controller="hamburger" data-target="hamburger.profileButton" data-action="click->hamburger#toggleProfile">
      <div class="left">
        <span class="welcome">Welcome back</span><br>
        <span class="name"><%= current_user.first_name.capitalize + ' ' + current_user.last_name.capitalize %></span>
      </div>
    <i class="fas fa-caret-down ml-3"></i>
  </div>
  <div class="dropdown-menu p-4 mt-2" aria-labelledby="dropdownMenuLink">
    <%= link_to "My profile", user_path(current_user), class: "action" %>
    <hr>
    <%= link_to "Account", edit_user_registration_path(current_user), class: "action" %>
    <hr>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "action"%>
  </div>
</div>
