<div class="col-12 col-lg-7 pricing-card">
  <h2 class="title">Settle-in Pack</h2>
  <p class="desc">Customizable bundle including all subscriptions you need in 1 monthly bill</p>
  <div class="card settle-in blue-bg">
    <div>
      <span class="price">€10/month*</span>
      <p class="desc">Everything you need to get settled in your new home</p>
      <ul class="row">
        <div class="col-12 col-lg-6">
          <li><i class="fas fa-check"></i>WiFi at home</li>
          <li><i class="fas fa-check"></i>Utilities at home</li>
          <li><i class="fas fa-check"></i>Mobile phone contract</li>
          <li><i class="fas fa-check"></i>Housing insurance</li>
          <li><i class="fas fa-check"></i>Guarantor (Paris only)</li>
          <hr>
          <li><span class="white">All in 1 bill</span></li>
          <li><span class="white">Cancel anytime</span></li>
        </div>
      </ul>
    </div>
    <%= link_to 'Coming soon - Pre register', '#', class: 'btn-main-white disabled' %>
  </div>
  <span class="subline">* Monthly price depending on bundle selection</span>
</div>
