<div class="col-12 col-lg-5 pricing-card mb-lg-0">
  <div class="card starter">
    <div>
      <span class="price">Starter Pack</span>
      <p class="desc">Everything you need to get started in your new home</p>
      <ul>
        <li><i class="fas fa-check"></i>One-off price & full cost transparency</li>
        <li><i class="fas fa-check"></i>Offers come with credit</li>
        <li><i class="fas fa-check"></i>Reputable providers only</li>
        <hr>
        <li><span class="purple">Free shipping</span></li>
        <li><span class="purple">No added fees</span></li>
      </ul>
    </div>
    <%= link_to "Customize your bundle", onboarding_path, class: 'btn-main' %>
  </div>
  <span class="subline">* One-off price depending on bundle selection</span>
</div>
