<div class="col-12 col-lg-5 pricing-card mb-5 mb-lg-0">
  <h2 class="title">Starter Pack</h2>
  <p class="desc">Envelope delivered to your current home <u>before</u> you move</p>
  <div class="card starter">
    <div>
      <span class="price">£1*</span>
      <p class="desc">Everything you need to get started in your new home</p>
      <ul>
        <li><i class="fas fa-check"></i>Local phone number</li>
        <li><i class="fas fa-check"></i>Public transportation card</li>
        <li><i class="fas fa-check"></i>Airport pick-up</li>
        <hr>
        <li><span class="purple">Free shipping</span></li>
        <li><span class="purple">No added fees</span></li>
      </ul>
    </div>
    <%= link_to "Customize your bundle", onboarding_path, class: 'btn-main' %>
  </div>
  <span class="subline">* One-off price depending on bundle selection</span>
</div>
