<div class="col-12 col-lg-5 pricing-card mb-lg-0">
  <div class="card starter">
    <div>
      <span class="price">Get started in your new home</span>
      <p class="desc mb-2">Customize your pack now and have it shipped worldwide for free directly to your current home –100% stress free</p>
      <ul>
        <li><i class="fas fa-check"></i>Housing search support from our local experts</li>
        <li><i class="fas fa-check"></i>Local SIM card ready-to-use incl. data, calls and texts</li>
        <li><i class="fas fa-check"></i>Local public transportation card incl. your first rides</li>
        <li><i class="fas fa-check"></i>Personal airport pickup service to the city center</li>
        <hr>
        <li><span class="purple">Free shipping</span></li>
        <li><span class="purple">No added fees</span></li>
      </ul>
    </div>
    <%= link_to "Get Started", onboarding_path, class: 'btn-main' %>
  </div>
</div>
