<div class="col-12 col-lg-5 pricing-card mb-lg-0">
  <div class="card starter">
    <div>
      <span class="price">Starter Pack</span>
      <p class="desc m-0">Everything you need to get started in your new home</p>
      <p class="mb-2">Customize your Pack now and have it shipped worldwide for free directly to your current home –100% stress free. The pack is available in the UK and in France</p>
      <ul>
        <li><i class="fas fa-check"></i>Personalized housing search support from our team of local experts</li>
        <li><i class="fas fa-check"></i>Local SIM card incl. data, calls and texts</li>
        <li><i class="fas fa-check"></i>Local public transportation card incl. your first rides</li>
        <li><i class="fas fa-check"></i>Airport pickup service</li>
        <hr>
        <li><span class="purple">Free shipping</span></li>
        <li><span class="purple">No added fees</span></li>
      </ul>
    </div>
    <%= link_to "Get Started", onboarding_path, class: 'btn-main' %>
  </div>
</div>
