.pricing {
  font-size: 14px;
  .pricing-card {
    color: #18191fa6;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    .product-img {
      margin-right: 12px;
      img {
        width: 50px;
      }
    }
    .product-name {
      text-align: left;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .name {
        font-weight: bold;
      }
      .description {
        padding-right: 0.9em;
      }
    }
    .product-price {
      font-weight: bold;
      font-size: 12px;
      text-align: right;
    }
  }
  .total-price {
    color: #18191fa6;
    .total {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .old-price {
    font-weight: 200;
    font-size: 16px;
  }
}
.legals {
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  a {
    color: $purple;
  }
}
