.pricing {
  font-size: 14px;
  .pricing-card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    .product-img {
      margin-right: 12px;
      img {
        width: 50px;
        border-radius: 4px;
      }
    }
    .pricing-details {
      .legals {
        color: #18191fa6;
        font-size: 12px;
      }
    }
    .product-name {
      text-align: left;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .name {
        font-weight: 500;
      }
      .description {
        padding-right: 0.9em;
      }
      .price {
        font-weight: 700;
        font-size: 13px;
      }
    }
    .product-price {
      font-weight: bold;
      font-size: 12px;
      text-align: right;
    }
  }
  .total-price {
    .total {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .old-price {
    font-weight: 200;
    font-size: 16px;
  }
  .bg-bubble {
    top: -10%;
    left: -20%;
  }
  .subscription-details {
    .details {
      font-size: 14px;
      font-weight: 400;
      color: #3E3E3E;
    }
  }
  .pointer {
    cursor: pointer;
  }
}
.legals {
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  a {
    color: $purple;
  }
}
