<div class="container about-container static-container">
  <div class="row align-items-end mb-5">
    <div class="col-12 col-lg-7">
      <h1>You leaving us ? :(</h1>
      <p class="my-5">Are you sure to want to unsubscribe to movido newsletter ?</p>
      <%= link_to 'Confirm', unsubscribe_path(Base64.encode64(@user.id.to_s)), target: 'blank', method: 'put', class:'btn-main' %>
    </div>
  </div>
</div>
