<div class="navbar navbar-expand-sm navbar-light navbar-movido d-flex align-items-center justify-content-center" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to root_path, class: "navbar-brand mr-0 pt-0 pb-0" do %>
    <%= image_tag(asset_path("navbar/logo.svg")) %>
  <% end %>
</div>

