<div class="subscription" data-controller='stripe-dashboard' data-stripe-dashboard-target="container">
  <div class="total-amount text-center mt-4 mb-3">
    <span class="user-id">#<%= current_user.first_name[0].upcase %><%= current_user.last_name[0].upcase %></span>
    <h2 data-stripe-dashboard-target="subscriptionTotalPrice" class="subscription-total-price">--.--</h2>
    <span class="current-period">Current invoice</span><br/>
    <span class="period">From --/--/-- to --/--/--</span>
  </div>
  <span class="title-secondary purple">Active services</span>
  <div class="active-services mb-4 mt-2">
    <div class="subscription-plan col-12">
      <div class="d-flex justify-content-between">
        <span class="plan">---------------------</span>
        <span class="price">--.--</span>
      </div>
      <span class="period">----------------------------------<span>
    </div>
    <hr class="purple">
  </div>
  <span class="title-secondary purple">History</span>
  <div class="history mb-4 mt-2">
      <div class="subscription-history col-12">
        <div class="d-flex justify-content-between">
          <span class="user-id">--</span><br/>
          <span class="price">--.--</span>
        </div>
        <span class="period">From --/--/-- to --/--/--</span>
      </div>
    <hr class="purple">
  </div>
  <span class="title-secondary purple">Next invoice</span><br>
  <div class="next-period d-flex justify-content-between mt-2 mb-3">
    <span class="period">Available starting --/--/--</span>
    <span class="price">--.--</span>
  </div>
</div>
