<div class="static-container container mb-5">
  <div class="row align-items-center">
    <div class="col-12 text-center">
      <%= image_tag(asset_path('icons/clap.png'), class:'w-50') %>
      <h2>Congratulations</h2>
      <p>You have correctly set up your services for your new home!</p>
      <p>To manage your subscriptions, go to your</p>
      <%= link_to 'Dashboard', dashboard_path, class:'btn-main' %>
    </div>
  </div>
</div>
