<% content_for :meta_title, "movido | Careers: Join our international team" %>
<% content_for :meta_description, "Whether you are a developer, designer, marketing expert, product specialist or think you can contribute to our great team - we are excited to meet you" %>
<div class="container careers-container mb-5">
  <h2 class="ml-4"><%= t('pages.careers.title') %></h2>
  <div class="w-100 text-center"><%= image_tag(asset_path('pages/careers/coffee_cup.png')) %></div>
  <p class="text-justify"><%= t('pages.careers.content').html_safe %></p>
</div>
