<div class="container careers-container text-center">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="small-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <h2>Careers</h2>
  <%= image_tag('careers.png') %>
  <p class="text-left">You are a developer, designer, marketing expert or product specialist? Or you have suffered from the admin nightmare <br>yourself when you relocated in the past and just want to do something against it? We at movido are always looking for <br>new talents to join our team. Simply write us at <%= mail_to "contact@go-movido.com" %> – we are excited to meet you.</p>
</div>
