<div class="container careers-container text-center mb-5">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="small-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <h2><%= t('.title') %></h2>
  <%= image_tag('pages/careers/coffee_cup') %>
  <p class="text-left"><%= t('.content').html_safe %></p>
</div>
