<% content_for :meta_title, "movido | Careers: Join our international team" %>
<% content_for :meta_description, "Whether you are a developer, designer, marketing expert, product specialist or think you can contribute to our great team - we are excited to meet you" %>
<div class="container careers-container text-center mb-5">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="small-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <h2><%= t('.title') %></h2>
  <%= image_tag(asset_path('pages/careers/coffee_cup.png')) %>
  <p class="text-left"><%= t('.content').html_safe %></p>
</div>
