<div class="container dashboard-container py-3">
  <div class="row">
    <div class="col-md-12 text-center d-flex align-items-center justify-content-center flex-column">
      <h1 class="title">Get prepare for your next accommodation</h1>
      <span class="subtitle">Your current address</span>
      <div class="address-input d-flex align-items-center m-3">
        <span class="px-5"><%= current_user.active_address.street %></span>
      </div>
      <%= link_to 'click to add a new adress', user_path(current_user), class:'purple' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 categories-cards-wrapper d-flex flex-column align-items-center mt-5">
      <% @categories.each_with_index do |category, index| %>
        <%=  render 'categories/card', category: category, index: index %>
      <% end %>
    </div>
  </div>
</div>
