<div class="container privacy">
  <div class="text-center mt-4"><%= image_tag(asset_path('logo.png'), width: '250')%></div>
  <div class="text-right">
    <p><strong>movido Ltd</strong></p>
    <p>Company Number 12899481</p>
    <p class="mb-0">52 Upper Berkeley Street, London, W1H 7QW, United Kingdom</p>
  </div>
 <div name="termly-embed" data-controller="termly" data-id="f48b2b76-c1b7-4dee-90cc-8fc21957ea66" data-type="iframe"></div>

</div>

