<div class="static-container how-it-works-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>GENERAL TERMS AND CONDITIONS OF USE</h1>
        <p><strong>Entry into force:</strong> August 2021</p>
      </div>
      <div class="col-12">
        <p><strong class="underline">1. Purpose</strong></p>
        <p>Movido provides a web app (the “<strong>Application</strong>”) that helps users (“<strong>Users</strong>”) set up their third-party-providers (the “<strong>Providers</strong>”) administrative contracts on their behalf when moving to France or to the United Kingdom (the “<strong>Services</strong>”) and can be accessed via <a href="https://www.go-movido.com/" class="underline" target="blank">https://www.go-movido.com/</a>.</p>
        <p>These general terms and conditions (the “<strong>General Terms & Conditions</strong>”) apply without restriction or reservation to the Services provided by Movido. Their purpose is to define the terms and conditions of use of the Services provided for Users, as well as to define the rights and obligations of the parties within this context.</p>
        <p>They can be accessed and printed at any moment from a direct link on the Application.</p>
        <p>The General Terms & Conditions shall prevail over any other general or specific terms and conditions not expressly approved by Movido.</p>
        <p><strong class="underline">2. Editor of the Application and Services - Contact details</strong></p>
        <p>The Application and Services are provided by Movido, a French simplified joint stock company (“Société par Actions Simplifiée”) registered under number 898 009 295 with the Registry of Trade and Companies of Antibes, whose head office is located at 608, boulevard des Horizons, in Vallauris (06220) ("<strong>Movido</strong>").</p>
        <p><strong class="underline">3. Access to the Application and Services</strong></p>
        <p><strong>3.1 Legal capacity</strong></p>
        <p>The Application and Services can be accessed by:</p>
        <ul>
          <li>any person with full legal capacity to be bound by these General Terms & Conditions. Any person who does not have such full legal capacity may only access the Application and the Services with the agreement of their legal representative;</li>
          <li>any entity acting through a person having full legal capacity to contract for and on behalf of the entity.</li>
        </ul>
        <p><strong>3.2 Application and Services for both private and professional users</strong></p>
        <p>The Application and Services are intended for: </p>
        <ul>
          <li>any consumer, understood as any natural person who acts for purposes that are not part of his/her professional activity,</li>
          <li>any professional, understood as any natural or legal person acting for purposes within the framework of his/her commercial, industrial, craft, liberal or agricultural activity, including when acting in the name or on behalf of another professional.</li>
        </ul>
        <p><strong class="underline">4. Acceptance of the General Terms & Conditions</strong></p>
        <p>You agree to these General Terms & Conditions by checking a box the first time you log in to the Application, in the registration form.</p>
        <p>Your acceptance must be full and unequivocal. Any conditional acceptance will be considered as null and void. You must not access the Application or use the Services if you do not agree to be bound by these General Terms & Conditions.</p>
        <p>When you select the services of the third-party Providers you wish to subscribe to, you must also review and accept their terms and conditions and any documents imposed by the selected Provider(s).</p>
        <p>We will not be able to take out any subscriptions on your behalf without such acceptance.</p>
        <p>By accepting their terms and conditions, you:</p>
        <ul>
          <li>acknowledge that you sign up to a legally binding contract, and that Movido is not a party to your contractual relationship with the selected Providers.</li>
          <li>agree to appoint Movido to act on your behalf in all matters concerning the selected subscription. This means Movido will act as your agent for the supply of the selected services. You will only deal with us under the contracts you choose.</li>
        </ul>
        <p><strong class="underline">5. Registration</strong></p>
        <p>To register on the Application, you must:</p>
        <ul>
          <li>fill in the registration form available on the Application,</li>
          <li>or be registered on one of the third-party application listed our website, and use your login details on the selected third party site to register on the Application. In this case, you need to provide us with any additional information requested. You expressly authorize us to access your account data on the relevant third-party site.</li>
        </ul>
        <p>In any case, you shall provide all information marked as mandatory. Any incomplete registration will not be validated.</p>
        <p>The registration automatically entails the opening of an account in your name (the "<strong>Account</strong>"), enabling you to use the Services in a format and according to the technical means that Movido deems the most appropriate for providing the Services.</p>
        <p>You guarantee that all information you provide in the registration form is exact, up to date and sincere and is in no way misleading or dishonest. You agree to update this information in your Account in the event that any of it should change in order to continuously meet the above-mentioned criteria.</p>
        <p>You are hereby informed and accept that the information provided by you for the creation or update of your Account are binding upon confirmation and evidence of your identity. </p>
        <p>You can access your Account by logging in to the Application using your connection ID and password.</p>
        <p>You are also responsible for keeping your connection ID and password confidential, as any access to the Application with this ID and password are deemed to be made by you. You shall contact us immediately, if you notice that your Account has been used without your knowledge. You acknowledge our right to take all measures we deem appropriate in such a case.</p>
        <p>You agree to use the Services yourself and not to allow any third party to use them on your behalf, unless accepting full responsibility for the consequences.</p>
        <p><strong class="underline">6. Our Services</strong></p>
        <p>You must review the features of our Services as well as those offered by our partner Providers before any subscription on the Application.</p>
        <p>You acknowledge:</p>
        <ul>
          <li>that you are aware of the characteristics and constraints of our Services, particularly the technical ones, </li>
          <li>that the implementation of the Services requires a connection to the Internet and that the quality of the Services depends on this connection, for which we are not responsible.</li>
        </ul>
        <p>You also have access to Movido’s blog at the address: <a href="https://blog.go-movido.com/" target="_blank" class="underline">https://blog.go-movido.com/</a>, which provides all the useful answers to questions you may have about studying abroad, from obtaining a visa to finding a student job.</p>
        <p><strong>6.1 The Starter Pack</strong></p>
        <p>The Starter Pack helps you with your move abroad. You can simply customize your bundle with everything you need abroad and have it shipped to your current home.</p>
        <p>The Starter Pack allows you: </p>
        <ul>
          <li>to find the best Providers quickly, </li>
          <li>to benefit from offers that already come with credits, in order to be able to use them directly upon arrival,</li>
          <li>not to commit to long-term contracts with Providers,</li>
          <li>to obtain selective exclusive discounts available only on Movido,</li>
          <li>To have all documents and cards related to your purchase delivered for free to your current home, anywhere in the world.</li>
        </ul>
        <p>Products/Services than can be selected in the Starter Pack are:</p>
        <ul>
          <li><u>housing search support</u> where Movido helps you on a best-effort basis to find a suitable apartment;</li>
          <li><u>local SIM card</u> that allows you to use your phone upon arrival abroad;</li>
          <li><u>airport pick-up service</u> to help you get from the airport to the city center;</li>
          <li>and a <u>local public transportation card</u> with credit that can be used abroad.</li>
        </ul>
        <p><strong>6.2 The Settle-in Pack</strong></p>
        <p>The Settle-in Pack provides you: </p>
        <ul>
          <li>a customized subscription package with only one payment and one invoice per month, including all subscriptions you need (utilities, WIFI, phone,);</li>
          <li>a fixed tariff for every subscription, from the date on which you start your subscription;</li>
          <li>payment monthly in advance, automatically from your registered debit or credit card</li>
        </ul>
        <p>You can see all of your contracts in you dashboard, available on the Application.</p>
        <p><strong>6.3 Hosting of the Application</strong></p>
        <p>We undertake to ensure, under the terms of an obligation of means, the hosting of:</p>
        <ul>
          <li>the Application,</li>
          <li>the Accounts,</li>
          <li>and any content uploaded by you to the Application,</li>
        </ul>
        <p>In accordance with the practices of the profession and the state of the art, on our own servers or by a professional hosting provider, exercising its activity in accordance with the practices of the profession and the state of the art.</p>
        <p>In this context, we undertake to provide you with sufficient storage and processing capacity within the framework of the Services, in accordance with the practices of the profession and the state of the art.</p>
        <p>We undertake to implement all technical means, in accordance with the state of the art, necessary to ensure security and access to the Services, relating to the protection and monitoring of infrastructures, the control of physical and/or intangible access to said infrastructures, as well as the implementation of detection, prevention and recovery measures to protect servers from malicious acts.</p>
        <p>We also undertake to take all useful precautions, in view of the nature of the data and the risks presented by the automated data processing implemented for the purposes of the Services, to preserve the security of the data, and in particular to prevent it from being distorted, damaged or accessed by unauthorized third parties.</p>
        <p><strong>6.4 Customer service</strong></p>
        <p>You can contact us for any claim or any support request via the chatbot directly accessible from our Application or via the following email address <u>contact@go-movido.com</u>, enabling you to flag up any difficulties encountered when using the Application or Services.</p>
        <p><strong>6.5 Other services</strong></p>
        <p>We reserve the right to offer any other Service, in a format and with the technical means we deem most appropriate to provide such Service.</p>
        <p>Any request for modification of the subscribed Services will have to be the object of a new subscription.</p>
        <p><strong class="underline">7. Term of the Services, termination</strong></p>
        <p>Your contract with Movido (i.e. your subscription to our own Services) is concluded for an indefinite period. You can unsubscribe at any time by sending a request to Movido, either by email or directly on the Application.</p>
        <p>You are expressly informed and agree that such termination will result in the termination of all subscriptions to our partner Providers' services at the end of the current month.</p>
        <p>The Services may be provided:</p>
        <ul>
          <li>for an indefinite period for the Starter Pack,</li>
          <li>in the form of a subscription (the "<strong>Subscription</strong>"), for the Settle-in Pack.</li>
        </ul>
        <p>In any case, we also reserve the right to close and delete any Account that remains inactive for a continuous period of 6 months.</p>
        <p><strong>7.1 Regarding the Starter Pack</strong></p>
        <p>The Starter Pack is a one-off purchase only and does not constitute any long-term contract or engagement. No additional payment will be required from you after the purchase.</p>
        <p><strong>7.2 Regarding the Settle-in Pack</strong></p>
        <p>You purchase a monthly subscription from each Provider as part of the Settle in Pack, which begins on the day of your subscription request, subject to payment of the price in accordance with the "Financial Terms" section, for a period of one month, from date to date.</p>
        <p>Each of your subscriptions taken out with our partner Providers is then tacitly renewed for successive periods of the same duration as the initial period (the "<strong>Periods</strong>"), from date to date, unless you request the termination directly on the Application or by email, at any time. </p>
        <p>Termination will take effect at the end of the Period and will result in the automatic deletion of each of the accounts subscribed to with the Providers, as well as all the corresponding stored content.</p>
        <p>Any subscription period started is due in full.</p>
        <p><strong>According to Article L215-1 of the Consumer Code:</strong></p>
        <p><i>"For contracts for the provision of services concluded for a fixed term with a tacit renewal clause, the professional providing the services shall inform the consumer in writing, by dedicated letter or e-mail, at the earliest three months and at the latest one month before the end of the period authorizing the rejection of the renewal, of the possibility of not renewing the contract he/she has concluded with a tacit renewal clause. This information, delivered in clear and understandable terms, shall mention, in a visible box, the deadline for non-renewal.</i></p>
        <p><i>When this information has not been sent to him/her in accordance with the provisions of the first paragraph, the consumer may terminate the contract free of charge at any time after the renewal date.</i></p>
        <p><i>Advances made after the last renewal date or, in the case of open-ended contracts, after the date of conversion of the initial fixed-term contract, shall in this case be reimbursed within thirty days of the date of termination, after deduction of the sums corresponding, up to that date, to the performance of the contract. The provisions of this article apply without prejudice to those which by law subject certain contracts to special rules as regards consumer information."</i></p>
        <p><strong class="underline">8. Financial Conditions</strong></p>
        <p><strong>8.1 Prices of the Services and terms of payment</strong></p>
        <p>Access to the Application and Services is free.</p>
        <p>Movido only charges you for the cost of your subscription to the Providers' services. </p>
        <p>Unless otherwise stated, these costs are expressed in Euros or in Pounds, and are inclusive of taxes.</p>
        <p>You will have only one payment to make and only one bill per month, including all the subscriptions you have subscribed to (utilities, WIFI, telephone).</p>
        <p>All your invoices are available on the Application.</p>
        <p>The direct debit is implemented by the payment service provider indicated on the Application, which alone retains your bank details for this purpose.</p>
        <p>Movido does not keep any bank details.</p>
        <p>The price of the Providers services is due and debited on the day each Subscription takes effect, then on each renewal, from date to date, for the Settle-in Pack.</p>
        <p>Each Settle-in Pack subscription must be paid monthly, in advance.</p>
        <p>You guarantee us that you have the necessary authorizations to use the chosen method of payment. You undertake to take the necessary steps to ensure that the price can be debited automatically.</p>
        <p><strong>8.2 Payment delays and incidents</strong></p>
        <p>You are hereby informed and expressly agree that any payment delay of all or part of any payable amount at its due term may entail, without prejudice to the provisions set out in articles “Sanctions for breaches” and “Term of the Services, Termination” and without prior formal notice:</p>
        <ul>
          <li>The forfeiture of all amounts due, which will become immediately payable,</li>
          <li>Immediate suspension of your current subscriptions with our Providers until full payment of all amounts due,</li>
          <li>Invoicing of a late payment interest, at the rate provided by the relevant Provider without prejudice of any further compensation in the event that the actual collection costs exceed this amount.</li>
        </ul>
        <p><strong class="underline">9. Cancellation right</strong></p>
        <p>You have 14 days from when you first sign up to any of our Provider to change your mind and cancel your agreement.</p>
        <p>You may exercise this right by sending us, before the expiry of the aforementioned period, the form available here, or any other unambiguous statement expressing your desire to withdraw.</p>
        <p>In case of exercising the right of withdrawal, we will reimburse you for all payments received, without undue delay and, in any event, no later than 14 days from the day we have been informed of your decision to withdraw. The refund shall be made using the same means of payment as you used for the initial transaction, unless you expressly agree to a different means. In any event, this refund will not incur any costs for you.</p>
        <p>However, this doesn't apply to services that you have explicitly requested us to start and that have started within this 14-day period, by checking the box to this effect in your registration form.</p>
        <p>In this case, you will owe us the price of your subscriptions, calculated on a pro rata basis for the time elapsed until the communication of your withdrawal decision.</p>
        <p><strong>Cancellation Template:</strong></p>
        <p>You can copy the following template to be sent via email or post to withdraw from the agreement:</p>
        <p><i><u>Subject</u>: Withdrawal form</i></p>
        <p><i>To the attention of: Movido<br />
              Address: 608 Boulevard des Horizons; 06220 Vallauris; France<br />
              E-mail address: contact@go-movido.com.</i></p>
        <p><i>Dear Movido Team,</i></p>
        <p><i>I hereby notify you of my withdrawal from the agreement for the Services: [kindly filled in by subscriber]. I also expressly agree that the refund may be made by Stripe.</i></p>
        <p><i>Registration on the application Movido on [date kindly filled in by subscriber]</i></p>
        <p><i>User’s name: [to be completed].<br />
              User's address: [to be completed] </i></p>
        <p><i>User's signature: [to be completed]<br />
              (only if this form is notified on paper)</i></p>
        <p><i>Date: [to be completed]</i></p>
        <p><i>Thank you and best regards</i></p>
        <p><strong class="underline">10. Agreement in relation to proof</strong></p>
        <p>You expressly acknowledge and accept that:</p>
        <ul>
          <li>data collected by the Application and on our IT equipment is a true reflection of the transactions taking place under the scope of this agreement, </li>
          <li>this data constitutes the main mode of proof admitted by the parties.</li>
        </ul>
        <p><strong class="underline">11. Your obligations </strong></p>
        <p>Without prejudice to other obligations provided for in these General Terms & Conditions, you undertake to respect the following obligations.</p>
        <p><strong>11.1</strong> When using the Services, you undertake to adhere to these General Terms & Conditions, the terms and conditions of the Providers with whom you have subscribed, as well as the law and regulations in force, and to not infringe the rights of third parties or public order.</p>
        <p>You are responsible for your usage of the Application and any service offered by the Provider.</p>
        <p><strong>11.2</strong> You acknowledge that you have read and understood the characteristics and constraints, particularly technical, of the Application, and the services to which you subscribe with the Providers. You are solely responsible for your use of their services and the proper functioning of your subscriptions.</p>
        <p><strong>11.3</strong> Users agree to provide Movido with all information necessary for the proper performance of the Services. More generally, Users agree to actively cooperate with Movido with a view to ensuring the proper performance of this Agreement.</p>
        <p><strong>11.4</strong> You are responsible for the documents, details, data, information and any content that you provide us as part of your subscriptions. You guarantee us that you are authorized to provide this information and that you have all the rights and authorization needed to use this information within the scope of your subscriptions. </p>
        <p><strong>11.5</strong> You are also solely responsible for the accuracy, truthfulness and completeness of the documents, data, information and content, and we shall not be held liable for any errors, typos, omissions or misstatements that may delay the effectiveness of your subscriptions with Providers, and/or mislead the calculation of the amount of your subscriptions due to a breach of this clause.</p>
        <p>Under no circumstances can we be held responsible if your subscription does not start, is suspended, or if the calculations of the cost of your subscription are wrong due to an error attributable to you, or due to data transmitted to us.</p>
        <p><strong>11.6</strong> You also undertake to alert us of any attack, potential threat or attempt at intrusion by a third party into your Account.</p>
        <p>More generally, you shall actively cooperate with us for the proper performance of your subscriptions and keep us informed with any difficulty in such performance.</p>
        <p><strong>11.7</strong> You undertake to adhere to and respect the terms and conditions of each Provider to which you subscribe. </p>
        <p><strong>11.8</strong> You are responsible for your subscriptions, and notably for the contacts you may forge with the third parties with whom you may enter into contact, and for the information that you send them.</p>
        <p><strong>11.9</strong> You must take all necessary measures to back up through your own resources the information you deem necessary in your Personal Space, as no copy of this information shall be provided to you.</p>
        <p><strong>11.10</strong> You undertake to make strictly personal usage of the Services. Consequently, you shall refrain from assigning, ceding or transferring all or some of their rights and obligations under this agreement to a third party, in any manner.</p>
        <p><strong>11.11</strong> You expressly acknowledge that the use of the Services require that you should be connected to the internet and that you are solely responsible for such connection.</p>
        <p><strong class="underline">12. Your guarantee</strong></p>
        <p>You agree to defend, indemnify, and hold us harmless from and against any claims, demands, actions and/or grievances whatsoever, that we could incur as a result of a breach of any one of your obligations or guarantees under these General Terms & Conditions.</p>
        <p>You agree to compensate us for any prejudice that we may suffer, and to pay any costs, liabilities, charges and/or convictions that we may incur, as a result of such a breach.</p>
        <p><strong class="underline">13. Prohibited behavior</strong></p>
        <p><strong>13.1</strong> It is strictly prohibited to use the Application and Services to the following ends: </p>
        <ul>
          <li>Carrying out activities that are unlawful, fraudulent or infringe on the rights or the security of others,</li>
          <li>Violating public order or any local policy or laws,</li>
          <li>Hacking into the computer system of a third party or any activity aimed to harm, control, interfere or intercept all or part of a third party's computer system, violating its integrity or its security,</li>
          <li>Sending unsolicited emails and/or prospecting or commercial solicitation,</li>
          <li>Tampering with the aim to improve referencing of another site,</li>
          <li>Using the Application for the release of information or links to third party applications,</li>
          <li>Assisting or inciting, in any manner or form whatsoever, the carrying out of one or several of the actions or activities described above,</li>
          <li>And more generally, any action that uses the Services for any other purpose than that for which they were designed.</li>
        </ul>
        <p><strong>13.2</strong> You are strictly prohibited from copying and / or using for your own purposes or those of a third party, the concept, technology or any other component of the Application.</p>
        <p><strong>13.3</strong> The following is also strictly prohibited: (i) any behavior that would interrupt, suspend, slow down or prevent continuity of the Services, (ii) any hacking or attempts to hack into our IT systems, (iii) any hijacking of the Application's system resources, (iv) any acts that would place a disproportionate load on the Application's infrastructure, (v) any attempts to breach the Application 's security and authentication structures, (vi) any acts that could infringe on the rights and financial, commercial and moral interests of Movido or of the Users of its Application and finally, more generally, (vii) any breach of these General Terms & Conditions.</p>
        <p><strong>13.4</strong> It is strictly prohibited to make money from, sell or concede all or part of one's access to the Services or to the Application or to the information that is hosted and/or shared on the Application.</p>
        <p><strong class="underline">14. Sanctions for breaches</strong></p>
        <p>In the event of a breach of any of the provisions of these General Terms & Conditions or more generally, of any infringement of any laws and regulations in force, we reserve the right to take any measures we deem appropriate and in particular:</p>
        <ul>
          <li>to suspend, cancel or prevent access to the Services if you breach any provision or any law or regulation, </li>
          <li>to delete all content placed online on the Application,</li>
          <li>to publish on the Application any related informational message that we deem useful,</li>
          <li>to inform any relevant authorities,</li>
          <li>to commence and prosecute any legal proceedings.</li>
        </ul>
        <p>We also reserve the right to end your subscription to our Services:</p>
        <ul>
          <li>either in full law, 15 days after reception of a formal notice, sent by registered letter with acknowledgement of receipt and stating the intention to apply this clause, which remained ineffective,</li>
          <li>or, in case of substantial breach or a repetition of a breach which was already notified by registered letter with acknowledgement of receipt, the cancellation shall then take effect in full law on the date the registered letter with acknowledgement of receipt stating the repeated breach is sent, this without prejudice to any damages that could be claimed.</li>
        </ul>
        <p>The cancellation will cause the automatic deletion of your Account, without prejudice to the other consequences that may be set out in the present General Terms & Conditions.</p>
        <p>Your subscriptions to third party services will continue until the end of their term.</p>
        <p><strong class="underline">15. Our responsibility and guarantee</strong></p>
        <p><strong>15.1</strong> We agree to provide the Services with diligence and in compliance with best practice, specifying that we have an obligation to provide due care, but this without any obligation of result, and this is expressly acknowledged and agreed by you.</p>
        <p><strong>15.2</strong> Our only role is to provide the Services described in these General Terms & Conditions.</p>
        <p><strong>15.3</strong> We are not involved in the relations between Users and Providers and cannot under any circumstances be held liable for any difficulties that may occur between them, or be involved in any disputes that may arise, notably concerning the delivery of their services and any other User obligations.</p>
        <p>However, with a view to continually improving the quality of Providers services, we invite you to feed back about any difficulties that you may wish to bring to our attention.</p>
        <p><strong>15.4</strong> We assume no responsibility in the event that any information from your Personal Space is lost. You should keep a backup copy and shall not be able to claim for any damages caused by any loss of this information.</p>
        <p><strong>15.5</strong> We agree to regularly check that the Application is operational and can be accessed. To this end, we reserve the right to interrupt access to the Application momentarily for maintenance purposes. In the same way, we shall not be held liable if the Application is ever momentarily difficult (or impossible) to access, the causes of these circumstances being outside our control, force majeure, or due to any disruption in the telecommunications network.</p>
        <p><strong>15.6</strong> We do not guarantee you (i) that the Services, which are subject to constant research to improve their performance and progress, will be totally free of errors, faults or defects, (ii) that the Services, being standard and not offered specifically to any one given User according to that User’s own personal constraints, shall specifically meet your needs or expectations.</p>
        <p><strong>15.7</strong> In any event, any liability that could be incurred by us within the framework of this General Terms & Conditions is expressly and solely limited to direct actual damages suffered by Users.</p>
        <p><strong class="underline">16. Intellectual Property</strong></p>
        <p>The systems, software, structures, infrastructures, databases and content (text, images, graphics, music, logos, trademarks, databases, etc.) used by us on the Application, are protected by all intellectual property rights, or rights for the creators of databases, in force. Any dismantling, decompilation, deciphering, extracting, reusing, copying and, more generally, any reproduction, representation, publishing or use of all or part of any these items, without our authorization, is strictly prohibited and may lead to legal action being taken.</p>
        <p><strong class="underline">17. Confidentiality</strong></p>
        <p>We undertake to keep strictly confidential the documents, elements, data and information of Users which we may receive in order to perform the Services and regarding the Application. As far as we are concerned, we expressly agree that this obligation of confidentiality shall cover your personal data that it will be required to process within the framework of the Services.</p>
        <p>All of this information is hereinafter referred to as "<strong>Confidential Information</strong>".</p>
        <p>We undertake not to disclose it without your prior consent. We may only transmit them to employees, collaborators, trainees or consultants if they are bound by the same obligation of confidentiality as provided for herein. This obligation does not extend to documents, elements, data and information:</p>
        <ul>
          <li>(I)  of which we were already aware;</li>
          <li>(II)  which were already public at the time of their communication or which would become public without breach of this agreement;</li>
          <li>(I)  which would have been lawfully received from a third party;</li>
          <li>(I)  the disclosure of which is required by judicial authorities, pursuant to laws and regulations or in order to establish a party's rights under this agreement.</li>
        </ul>
        <p><strong class="underline">18. Authorization to disclose testimonials</strong></p>
        <p>For the term of your use of the Services, you hereby grant to us the right to disclose the testimonials you publish on the Application (the <strong>“Testimonials”</strong>) for purposes of its promotion, on the following basis:</p>
        <ul>
          <li>you agree to your Testimonials being published free of charge by us, on the Application and on any other French or foreign websites published by any other companies with which we have agreements,</li>
          <li>you agree to your Testimonials being published by us by any means and on any medium, with the purpose of promoting the Application,</li>
          <li>you agree to your editorial Testimonials being translated into any language,</li>
          <li>you acknowledge and agree that the Testimonials may be subject to modifications especially concerning its scaling, format and color, as well as to alteration or deterioration of its quality depending on the technical constraints of the Application,</li>
          <li>you renounce claiming any type of payment, fee, royalty, indemnity or financial compensation from us in this respect.</li>
        </ul>
        <p><strong class="underline">19. Personal Data</strong></p>
        <p>We act as a data controller with regard to the processing of personal data collected in our Application or entered in your Personal Space.</p>
        <p>As a data controller, we practice a policy of protection of personal data, the characteristics of which are detailed in the document <%=link_to "Privacy Policy", privacy_path, class:"underline", target: "blank"%>, which you are expressly invited to read.</p>
        <p><strong class="underline">20. Force majeure</strong></p>
        <p>Under no circumstances can we be held responsible for failures or delays in the execution of these General Terms & Conditions due to one of the force majeure event as defined by article 1218 of the French Civil Code and recognized by jurisprudence, as well as, in any case, all acts of strike, terrorism and epidemic.</p>
        <p>The occurrence of a force majeure event suspends the execution of these General Terms and Conditions as soon as one of the parties receives the information transmitted by registered letter with acknowledgement of receipt by the other party.</p>
        <p>If a force majeure event preventing us from fulfilling our obligations continues beyond a period of 30 days, your subscription to our Services may be terminated immediately, without legal formalities, by either party, by any written means, without either party having to pay any compensation to the other.</p>
        <p><strong class="underline">21. Links and third-party sites</strong></p>
        <p>We cannot under any circumstances be held liable for the technical availability of websites run by third parties (including the Providers’) which you may access via the Application.</p>
        <p>We do not assume any liability for the content, adverts, products and/or services available on such third-party websites, and you are reminded that these websites are governed by their own terms and conditions of use.</p>
        <p><strong class="underline">22. Advertising</strong></p>
        <p>We, in collaboration with the Providers, reserve the right to include on any page of the Application and in any communication with you advertising and promotional messages in a format and in conditions decided upon solely by us.</p>
        <p><strong class="underline">23. Amendments</strong></p>
        <p>We reserve the right to amend these General Terms & Conditions at any time. </p>
        <p>You shall be informed of these amendments through any pertinent channel.</p>
        <p>Any User who does not agree with the amended General Terms & Conditions must unsubscribe from the Services according to the provisions set out in Article “Term of the Services, termination”.</p>
        <p>Users who continue to use the Services after the entry into force of the amended terms and conditions shall be deemed to have accepted these amendments.</p>
        <p><strong class="underline">24. Language</strong></p>
        <p>In the event of a translation of these General Terms & Conditions into one or more languages, the language of interpretation shall be English in the event of any contradiction or dispute concerning the meaning of any one of their terms or provisions.</p>
        <p><strong class="underline">25. Mediation</strong></p>
        <p>You have the right to use, free of charge, the service of a consumer mediator for the amicable resolution of any dispute relating to the execution of the Services. To this end, you may contact the following consumer mediator:</p>
        <p>Centre de médiation de la consommation de conciliateurs de justice (CM2C)<br />Postal address: 14 rue Saint Jean 75017 Paris, France<br />Telephone: +336 09 20 48 86<br />https://www.cm2c.net</p>
        <p>In the event of a complaint by a European consumer, the said consumer may use the European Application for the settlement of consumer law disputes accessible <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=FR" target="blank" class="underline">here</a>.</p>
        <p><strong class="underline">26. Law</strong></p>
        <p>These General Terms and Conditions are governed by French law. </p>
      </div>
    </div>
  </div>
</div>