<div class="container about-container static-container">
  <div class="row align-items-end mb-5">
    <div class="col-12 col-lg-7">
      <h1>Thanks!</h1>
      <p class="my-5">You can now go to our Calendly page to book a call with us</p>
      <%= link_to "Book a free call", "https://calendly.com/alice_movido/movido-introcall",  class: 'btn-main', target: "blank" %>
    </div>
  </div>
</div>