.category-card {
  background: $blue;
  border-radius: 20px;
  width: 220px;
  height: 260px;
  .title {
    height: 100%;
    color: $white;
    font-size: 16px;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  i {
    transition: 0.5s;
  }
  .description-wrapper {
    height: 0px;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.5s linear;
    transition: 0.5s;
    .description {
      background: $white;
      border-radius: 18px;
      color: $blue;
      display: flex;
      font-size: 14px;
    }
  }
}


.category-card:hover {
  .title {
    min-height: 0px;
    height: 0px;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.5s linear;
    transition: 0.5s;
  }
  i {
    transform: rotate(180deg);
    transition: 0.5s;
  }
  .description-wrapper {
    min-height: 200px;
    height: 100%;
    display: flex;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: -20px;
    transition: 0.5s;
  }

}
