.category-card {
  cursor: pointer;
  a {
    display: block;
    height: 420px;
    border: 0.5px solid $grey-snow;
    border-radius: 16px;
    box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.08);
    &:hover {
      box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.13);
    }
  }
  .image {
    border-radius: 16px 16px 0 0;
    background: $white;
    border-bottom: 0.5px solid $grey-snow;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content:center;
    img {
      transform: scale(0.25);
    }
  }
  .details {
    background: $background-category;
    height: 45%;
    .name {
      font-weight: bold;
      font-size: 14px;
      color: $dark-cloud;
    }
    .time {
      font-size: 11px;
      color: $grey;
    }
    .subtitle {
      font-weight: bold;
      font-size: 18px;
      color: $black;
    }
    .description {
      font-weight: normal;
      font-size: 12px;
      color: $dark-taupe;
    }
    .flag {
      width: 32px;
      height: 22px;
    }
    .offers {
      font-weight: bold;
      font-size: 12px;
      color: $turquoise;
    }
  }
  .state {
    height: 15%;
    border-top: 1px solid rgba(150,155,171,0.1);
    border-radius: 0 0 16px 16px;
    font-weight: bold;
    color: $purple;
    img {
      width: 24px;
    }
  }
  .state.open {
    background: $background-see-offers;
    font-size: 14px;
  }
  .state.coming-soon {
    background: $grey-metal;
    font-size: 12px;
  }
}
