.category-card {
  background: $blue;
  border-radius: 20px;
  width: 220px;
  height: 260px;
  .title {
    height: 100%;
    color: $white;
    font-size: 16px;
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .description-wrapper {
    height: 0px;
    opacity: 0;
    img {
      position: absolute;
      top: -15px;
      right: 45%;
      width: 20px;
    }
    .description {
      color: $white;
      display: flex;
      font-size: 14px;
    }
  }
}

.category-card:hover {
  background: $dark-blue;
  .title {
    min-height: 0px;
    height: 0px;
    opacity: 0;
  }
  .description-wrapper {
    min-height: 200px;
    height: 100%;
    display: flex;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: -20px;
  }
}


@include media-breakpoint-down(md) {
  .category-card {
    width: 100%;
  }
}

