<div class="flow-container" data-controller="animate">
  <div class="container">
      <%= render 'shared/chat', message: message %>
      <div class="content-container" data-delay="2" data-animate-target="contentContainer">
        <div class="form-base">
          <%= render 'steps/pickup/form', pickup: pickup, order: order %>
        </div>
    </div>
  </div>
</div>
