<div class="container errors-container">
  <div class="small-yellow-bubble position-absolute d-md-block d-none"></div>
  <div class="big-blue-bubble position-absolute d-md-block d-none"></div>
  <h1><%= t('.title') %></h1>
  <h2 class="my-5"><%= t('.content') %></h2>
  <%= link_to t('.button'), root_path,  class: 'btn-main' %>
</div>
