<div class="container congratulations-container subscriptions-container">
  <%= render 'subscriptions/steps', current_step: 5, title: t('steps.congratulations'), subtitle: t('steps.congratulations_subtitle').html_safe,total_steps: @subscription.product.total_steps %>
  <div class="row mx-0">
    <%= render 'result', subscription: @subscription %>
    <div class="col-md-6 offset-md-3 mb-5 d-flex justify-content-around">
      <%= link_to "My profile", user_path(current_user), class: 'btn-minor'%>
      <%= link_to "Back to home", dashboard_index_path, class: 'btn-main'%>
    </div>
  </div>
</div>
