<div class="container subscriptions-container" data-controller="subscriptions" style="background-image:url(<%= asset_path 'bg-form.png' %>);">
  <div class="step-2 mt-5 mb-4">
    <%= render 'steps', step: 2, title: 'Payment details & SIM Card' %>
    <h2 class="mb-4 text-center step-title">Please complete your payment details</h2>
    <%= render 'billing_form'%>
  </div>
</div>
