<div class="container subscriptions-container" style="background-image:url(<%= asset_path 'bg-form.png' %>);">
  <%= render 'steps', step: 4, title: 'Payment' %>
  <div class="row mx-0">
    <div class="col-md-12 text-center my-4">
      <h2>You just need to pay for your SIM card to finalize your purchase</h2>
      <p>The sim card cost <%= @subscription.product.sim_card_price %> €</p>
    </div>
    <div class="col-md-12 text-center my-4">
      <%= render 'subscriptions/forms/stripe' %>
    </div>
  </div>
</div>
