.edit-container {
  padding-top: 80px;
  .big-blue-bubble {
    top: 305px;
    left: -60px;
  }
  .small-yellow-bubble {
    right: 250px;
    top: 180px;
  }
  .form-base {
    width: 50%;
  }
  .small-blue-bubble {
    top: 90px;
    right: 20px;
  }
  .delete-link {
    color: $dark-cloud;
    text-decoration: underline;
    font-weight: 500;
  }
}

@include media-breakpoint-down(md) {
  .edit-container {
    padding-top: 2rem;
    .form-base {
      width: 100% !important;
    }
    .small-yellow-bubble {
      top: 380px;
    }
  }
}
