.registration-container {
  h1 {
    color: $black;
    font-weight: 800;
    font-size: 72px;
  }
  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }
  .big-blue-bubble {
    top: -15px;
    right: 65px;
  }
}
