<div class="container subscription-container d-flex flex-column align-items-center">
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="big-blue-bubble position-absolute"></div>
  <div class="row d-flex align-center justify-content-center flex-column">
    <div class="col-md-12">
      <%= render 'subscriptions/steps', product: @subscription.product, current_step: @subscription.current_step(controller.controller_name), title: t('billings.new.title'), subtitle: t('billings.new.subtitle').html_safe,total_steps: @subscription.product.total_steps, congratulations: false %>
    </div>
    <%= render 'uk-form' %>
  </div>
</div>
