<div class="container subscriptions-container" data-controller="subscriptions">
    <%= render 'subscriptions/steps', product: @subscription.product, current_step: @subscription.current_step(controller.controller_name), title: t('steps.more_details').html_safe, subtitle: t('steps.more_details_subtitle'), total_steps: @subscription.product.total_steps %>
    <%= render 'eu-form' %>
</div>
