<div class="container subscriptions-container" data-controller="subscriptions">
    <%= render 'subscriptions/steps', current_step: @subscription.current_step(controller.controller_name), title: t('steps.more_details'), subtitle: t('steps.more_details_subtitle').html_safe,total_steps: @subscription.product.total_steps %>
    <%= render 'uk-form' %>

</div>
