<div class="flow-container">
  <%= render 'shared/progress_bar', step: 3 %>
  <div class="container">
      <%= render 'shared/chat', bubbles: [{message: "Almost done! Please select the services you need - you can pick and choose across packs if you like", delay: 0}] %>
      <div class="form-base animate__animated animate__fadeInLeft animate__delay-2s">
        Congrats
      </div>
  </div>

</div>

