<div class="flow-container" data-controller="animate">
  <%= render 'shared/progress_bar', step: 3 %>
  <div class="container">
      <%= render 'shared/chat', messages: messages %>
      <div class="content-container" data-delay="1" data-animate-target="contentContainer">
        <div class="form-base">
          Congrats
        </div>
    </div>
  </div>
</div>

