<div class="flow-container" data-controller="animate">
  <%= render 'shared/progress_bar', step: 5 %>
  <div class="container">
      <%= render 'shared/chat', message: message %>
      <div class="content-container" data-delay="0" data-animate-target="contentContainer">
        <div class="form-base">
          <%= link_to 'Buy now', orders_path, method: :post, class: 'btn-main' %>
        </div>
    </div>
  </div>
</div>
