<div class="flow-container" data-controller="animate">
  <%= render 'shared/progress_bar', step: 5 %>
  <div class="container">
      <%= render 'shared/chat', message: message %>
      <div class="content-container" data-delay="0" data-animate-target="contentContainer">
        <div class="form-base">
          <%= link_to 'Buy now', new_shipping_path(order.id), class: 'btn-main' %>
          <span class="btn-main" data-reflex="click->CartReflex#more_details">More details</span>
        </div>
    </div>
  </div>
</div>
