<div class="modal modal-bank fade" id="bankModal" tabindex="-1" role="dialog" aria-labelledby="bankModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body bank-body p-0">
      </div>
    </div>
  </div>
</div>
