<div class="dashboard container position-relative" data-controller="dashboard">
  <div class="subscriptions-wrapper" data-controller='stripe-dashboard' data-stripe-dashboard-target="container" data-stripe-id="<%= current_user.stripe_id %>">
    <% if @subscriptions.blank? %>
      <p>Loading</p>
    <% else %>
      <%= render 'dashboards/index/subscriptions', subscriptions: @subscriptions, ongoing_subscription: @ongoing_subscription, order: @order %>
    <% end %>
  </div>
</div>
<%= render 'shared/components/dashboard_navbar' %>
