.congratulations-container {
  padding-top: 80px;
  .images {
    z-index: -1;
  }
  img {
    width: 90%;
  }
  .white-card {
    bottom: 97px;
    left: 115px;
  }
  h3 {
    font-weight: 800;
    font-size: 40px;
  }
  .subline {
    font-weight: normal;
    line-height: 32px;
    color: $black;
  }
  .links {
    font-weight: bold;
    font-size: 18px;
    color: $purple;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
  .big-blue-bubble {
    top: -225px;
    left: -205px;
  }
  .big-purple-bubble {
    right: -20%;
    bottom: -4%;
  }
  .small-blue-bubble {
    left: 20%;
    top: 80%;
  }
  .small-yellow-bubble {
    right: 10%;
    top: 40%;
  }
  .support-links {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    .support {
      img {
        width: 20px;
        margin-right: 0.4rem;
      }
      width: 50%;
      background: linear-gradient(180deg, rgba(140, 48, 245, 0.2) 0%, rgba(110, 48, 181, 0.2) 100%);
      border-radius: 40px;
      color: $purple;
      font-weight: bold;
      padding: 2%;
    }
  }
}

@include media-breakpoint-down(md) {
  .congratulations-container {
    .big-blue-bubble {
      left: -170px;
    }
    .small-yellow-bubble {
      top: 28%;
    }
  }
}
