.congratulations-container {
  padding-top: 80px;
  .illustration {
    z-index: -1;
    img {
      width: 90%;
    }
  }
  .white-card {
    bottom: 97px;
    left: 115px;
  }
  h3 {
    font-weight: 800;
    font-size: 40px;
  }
  .subline {
    font-weight: normal;
    line-height: 32px;
    color: $black;
  }
  .links {
    font-weight: bold;
    font-size: 18px;
    color: $purple;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
  .big-blue-bubble {
    top: -225px;
    left: -205px;
  }
  .big-purple-bubble {
    right: -20%;
    bottom: -4%;
  }
  .small-blue-bubble {
    left: 20%;
    top: 80%;
  }
  .small-yellow-bubble {
    right: 10%;
    top: 40%;
  }
  .support-links {
    cursor: pointer;
    .support {
      img {
        width: 20px;
        margin-right: 0.5rem;
      }
      width: 50%;
      background: $background-light-purple;
      border-radius: 40px;
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 2%;
    }
    a {
      color: $purple;
    }
  }
}

@include media-breakpoint-down(md) {
  .congratulations-container {
    padding-top: 2rem;
    h2 {
      font-weight: bold;
      font-size: 26px;
      font-family: 'Montserrat';
    }
    .subline {
      font-weight: 500;
      font-size: 14px;
      color: $grey;
    }
    .infos {
      font-size: 14px;
    }
    h3 {
      font-weight: bold;
      font-size: 18px;
      font-family: Montserrat;
    }
    .upsell {
      margin: 1.8rem 0;
    }
    .contact-links img {
      width: 70px;
    }
    .category-card-mobile {
      font-family: 'Montserrat';
    }
  }
}
