.sim-wrapper {
  .sim-cards {
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
      width: 30px;
      }
    }
  }
}
.texts {
  img {
    width: 60px;
  }
  strong {
    font-weight: 900;
  }
  .bit-info {
    color: $grey;
    font-size: 14px;
  }
}
#card-errors {
  color: red !important;
  font-weight: 900;
}
