#address-form {
  input {
    border: none;
    height: calc(1.5em + 0.75rem + 13px);
  }
  label {
    font-size: 14px;
    color: $dark-grey;
    letter-spacing: 0.3px;
  }
  select {
    color: $dark-grey !important;
    font-size: 12px !important;
    height: calc(1.5em + 0.75rem + 13px) !important;
    width: 100%;
    border: none;
  }
  span {
    font-size: 14px;
    color: $dark-blue;
    cursor: pointer;
    font-weight: 700;
  }
  i {
    cursor: pointer !important;
    font-size: 14px !important;
  }
  .address-input-wrapper {
    border-top: 1px solid $light-grey;
    .row {
      width: 100%;
      .address-input {
        padding: 0;
      }
    }
  }
  .form-input {
      position: absolute;
      background: $white;
      width: 450px;
      display: flex;
      border-radius: 5px;
      display: flex;
      border: 2px solid $orange;
      right: 25%;
      z-index: 99;
    }
}
