#address-form {

  select {
    color: $dark-grey !important;
    font-size: 12px !important;
    height: calc(1.5em + 0.75rem + 13px) !important;
    width: 100%;
    border: none;
  }
  span {
    font-size: 14px;
    color: $dark-blue;
    cursor: pointer;
    font-weight: 700;
  }
  .address-input-wrapper {
    .row {
      width: 100%;
      .address-input {
        padding: 0;
      }
    }
  }
  .form-input {
      position: absolute;
      background: $white;
      width: 450px;
      display: flex;
      border-radius: 5px;
      display: flex;
      right: 25%;
      border-radius: 15px;
      box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
      z-index: 99;
    }
  .form-control:focus {
    box-shadow: none;
  }
}

#billing-form {
  .btn-main {
    width: 30%;
    margin: 0 auto;
  }
}

.form {
  hr {
    width: 85% !important;
    border-top: 1px solid $grey !important;
  }
  .input-wrapper {
    width: 90%;
    label {
      font-size: 14px;
      color: $black;
      letter-spacing: 0.3px;
    }
    input {
      border: 1px solid $grey;
      height: calc(1.5em + 1.2rem + 13px);
      border-radius: 1.2rem;
    }
  }
}

