.products-container {
  .big-blue-bubble {
    top: -225px;
    left: -205px;
  }
  .big-purple-bubble {
    right: -150px;
    bottom: -200px;
  }
  .small-yellow-bubble {
    right: 420px;
    top: 280px;
  }
  .small-blue-bubble {
    left: 34%;
    bottom: 130px;
    }
}
.subscription-container {
  min-height: 83vh;
  h1 {
    color: $black;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
  }
  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }
  .big-blue-bubble {
    top: 0px;
    right: 0;
    z-index: -1;
  }
  .big-purple-bubble {
    bottom: 0;
    left: -20%;
    z-index: -1;
  }
  .or {
    font-size: 12px;
    color: #BABABA;
  }
  .name-fields .form-group {
    width: 45%;
  }
}
