.subscriptions-container {
  background-size: cover;
  background-position: center;
  z-index: -100;
  h1 {
    color: $blue;
    font-weight: 800;
    font-size: 36px;
  }
  h2 {
    color: $blue;
    font-weight: 800;
    font-size: 36px;
  }
  .summary {
    border-radius: 20px;
    border: 1px solid $blue;
    background-color: $white;
  }

  .detail-arrows i {
    font-size: 24px;
  }

  .step-forms {
    width: 100%;
    .line {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
  .line {
    width: 33%;
    height: 6px;
    border: 1px solid $orange;
    border-radius: 20px;
  }
  .line.orange {
    background: $orange;
  }
  .step-header {
    font-size: 14px;
    color: $dark-grey;
  }
  .more-details {
    font-size: 18px;
    font-weight: 800;
    color: $black;
  }
  .left {
    font-size: 16px;
    color: $blue;
    font-weight: 800;
  }
  .right {
    color: $black;
    font-weight: 400;
  }
  hr {
    width: 100%;
    border-top: 2px solid $light-blue;
  }
  .actions {
    width: 100%;
    justify-content: space-evenly;
  }
  .btn-minor, .btn-main {
    font-size: 16px !important;
  }

  .btn-minor {
    padding: 15px 30px;
  }
}
