.products-container {
  padding-top: 80px;
  .big-blue-bubble {
    top: -225px;
    left: -205px;
  }
  .no-result {
    font-weight: 800;
    font-size: 30px;
    color: $dark-cloud;
  }
  .fa-empty-set {
    color: $red;
    opacity: 0.3;
    font-size: 250px;
    width: 100%;
    text-align: center;
  }
}
.subscription-container {
  padding-top: 80px;
  min-height: 83vh;
  h1 {
    color: $black;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
  }
  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }
  .big-blue-bubble {
    top: -225px;
    left: -205px;
  }
  .big-purple-bubble {
    right: -20%;
    bottom: -20%;
  }
  .small-blue-bubble {
    left: 20%;
    top: 80%;
  }
  .small-yellow-bubble {
    right: 10%;
    top: 40%;
  }
  .name-fields .form-group {
    width: 45%;
  }
  .legals {
    font-size: 14px;
    color: $dark-cloud;
  }
  .invalid-feedback {
    display: block;
  }
}
