#payment-form {
  .input-wrapper {
    position: relative;
    label {
      font-size: 14px !important;
      color: $black !important;
      letter-spacing: 0.3px !important;
    }
    .input {
      border: 1px solid $grey;
      border-radius: 1.2rem;
    }&.w-40 {
      width: 40%;
    }
    .fa-lock {
      right: 11px;
      top: 56px;
      position: absolute;
      z-index: 2;
      color: $blue;
    }
  }
  #card-errors {
    color: $red;
  }
}

.secured-infos {
  i {
    color: $blue;
    font-size: 16px;
    border: 1px solid $blue;
    border-radius: 12px;
    background: $light-blue;
  }
  h4 {
    color: $blue;
    font-size: 16px;
    font-weight: 800;
  }
  .bit-info {
    color: $dark-grey;
    font-size: 12px;
  }
}
@include media-breakpoint-down(md) {
  .stripe-wrapper {
    .btn-main {
      width: 100%;
    }
    .w-40 {
      width: auto;
    }
  }
  .price-box {
    width: auto;
  }
}
