<strong>Your energy supply contract</strong>
<span>If you have requested for your gas and electricity to be provided by TotalEnergies, and you are not already provided by it, your supply will be changed to TotalEnergies. The key features of this tariff are:</span>
<ul>
  <li>- Fixed tariff for energy provided by TotalEnergies</li>
  <li>- Payment monthly in advance</li>
  <li>- Payment automatically from your registered debit or credit card</li>
  <li>- Prices on this tariff are fixed from the date on which we start to provide broadband to you on this tariff</li>
  <li>- If you leave this tariff at any time after your supply start date, there is no exit fee</li>
  <li>You can cancel this contract towards the end of each month</li>
</ul>
<%= link_to 'Your cancellation rights', "#", class:"underline" %>
<span>I explicitly request that the execution of my contracts with the Providers begins before the end of the withdrawal period. Please also see our cancellation policy in our Terms and Conditions.</span>