<% settle_in_products = Product.where(country_id: current_user.house.country.id, category: Category.where(pack: Pack.find_by(name: 'settle_in')))%>
<% settle_in_order = @live_orders.detect {|o| o.pack == 'settle_in'} %>
<% if settle_in_order.nil? %>
  <% settle_in_products.each do |product| %>
    <div class="container promo-card mb-3 col-12 col-md-6 col-lg-5 col-xl-4">
      <div class="row">
        <%= link_to onboarding_settle_in_path do %>
          <div class="col-12 d-flex align-items-center justify-content-between">
            <div class="my-3 mx-2 image">
            <%= image_tag(asset_path("pages/dashboard/promo-card/#{product.category.name}.png"), size: '100x122') %>
            </div>
            <div class="d-flex flex-column text-start ms-3 texts">
              <span class="time">2 MIN SETUP</span>
              <h2 class="product-title"><%= product.name %></h2>
              <p class="product-description"><%= product.description%></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
