.banner {
  height: 95vh;
  background-size: cover;
  background-position: center;
  h1 {
    color: $black;
    font-size: 65px;
    font-weight: 800;
    line-height: 5rem;
  }
  p {
    font-size: 24px;
    color: $black;
    font-weight: 300;
  }
  .headline {
    .subheadline {
      font-weight: 300;
    }
    strong {
      font-weight: bold;
    }
  }
}

@include media-breakpoint-down(md) {
  .banner {
    font-family: "Montserrat", sans-serif;
    height: auto;
    margin-top: 1rem;
    h1 {
      font-size: 26px;
      line-height: inherit;
      margin-bottom: 0;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
    }
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
    .cta {
      left: 22%;
      bottom: 15%;
      .btn-main {
        padding: 15px 40px !important;
      }
    }
    .banner-img {
      position: relative;
    }
    .bubble-position-right {
      position: absolute;
      left: 80%;
      width: 20%;
      top: 20%;
    }
    .bubble-position-left {
      position: absolute;
      width: 20%;
      top: 45%;
      left: 0%;
    }
    .container, .content {
      height: 100%;
    }
  }
}
