.banner {
  margin-top: 4rem;
  height: 95vh;
  background-size: cover;
  background-position: center;
  h1 {
    color: $black;
    font-size: 65px;
    font-weight: 800;
    line-height: 5rem;
  }
  p {
    font-size: 24px;
    color: $black;
    font-weight: 300;
  }
  .headline {
    .subheadline {
      font-weight: 300;
    }
    strong {
      font-weight: bold;
    }
  }
}

@include media-breakpoint-down(md) {
  .banner {
    height: 80vh;
    margin-top: 5rem;
    h1 {
      font-size: 26px;
      line-height: inherit;
    }
    p {
      font-size: 12px;
    }
    .banner-img {
      top: 34%;
      img {
        width: 78%;
        position: relative;
      }
    }
    .cta {
      bottom: 5%;
    }
    .bubble-position-right {
      position: relative;
      left: 84%;
      width: 20%;
      top: -80px;
    }
    .bubble-position-left {
      position: relative;
      right: 25%;
      width: 20%;
      top: 100px;
    }
    .container, .content {
      height: 100%;
    }
  }
}
