.banner-lite {
  background-size: cover;
  background-position: center;
  padding: 3% 5%;
  border-radius: 10px;
  .title {
    color: $white;
    font-size: 26px;
    font-weight: bold;
  }
  img {
    width: 20%;
  }
}



@include media-breakpoint-down(md) {
  .banner-lite {
    .title {
      font-size: 19px;
    }
    img {
      margin-right: 2rem;
      width: 50px;
    }
  }
  .btn-main-reverse {
     padding: 3px 35.5px;
  }
}
