.banner {
  background-size: cover;
  background-position: center;
  height: 80vh;
  h1 {
    color: $black;
    font-size: 64px;
    font-weight: 800;
    line-height: 5rem;
  }
  p {
    font-size: 24px;
    color: $black;
    font-weight: 300;
  }
}

@include media-breakpoint-down(md) {
  .banner {
    padding-top: 4rem;
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 19px;
    }
    .container, .content {
      height: 100%;
    }
  }
}
