.book-a-call-banner {
  justify-content: space-evenly;
  min-height: 45vh;
  span {
    font-family: 'Poppins';
    font-size: 24px;
  }
  h1 {
    color: $purple;
    font-weight: bold;
  }
}

@include media-breakpoint-down(md) {
  .book-a-call-banner {
    min-height: 0;
    height: 160px;
    background-color: $purple;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    p {
      text-align: center;
    }
    span.subline {
      font-size: 16px;
    }
    .cta-call {
      margin-top: 9px;
      border-radius: 7px;
      border: 1px solid $white;
      font-size: 16px;
      font-weight: bold;
      color: $white;
      padding: 1rem 1.5rem;
    }
  }
}
