.book-a-call-banner {
  background: #8C31F5;
  justify-content: space-evenly;
  height: 160px;
  color: $white;
  p {
    font-size: 22px;
    color: white;
    margin: 0;
  }
}



@include media-breakpoint-down(md) {
  .book-a-call-banner {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    p {
      font-size: 16px;
      text-align: center;
    }
    span.subline {
      font-size: 16px;
    }
    .cta-call {
      margin-top: 9px;
      border-radius: 7px;
      border: 1px solid $white;
      font-size: 16px;
      font-weight: bold;
      color: $white;
      padding: 1rem 1.5rem;
    }
  }
}
