.btn-main {
  color: $white;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  background: $purple;
  padding: 15px 51.5px !important;
  font-weight: 700;
  font-size: 20px !important;
  border-radius: 100px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  transition: all 0.3s ease;
  border: 1px solid $purple;
  &:hover {
    border: 1px solid $hover-button;
    background: $hover-button;
    color: $white;
  }
}

.btn-google {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $black;
  background: $white;
  padding: 10px 51.5px;
  height: 60px !important;
  img {
    left: 35px;
    width: 22px;
    transition: all 1s ease;
  }
  &:hover {
    background: $snow;
    color: $black;
    img {
      transform: rotate(360deg);
    }
  }
}

.btn-facebook {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $white;
  background: $turquoise;
  padding: 10px 51.5px;
  height: 60px !important;
  img {
    left: 35px;
    transition: all 1s ease;
    width: 22px;
  }
  &:hover {
    color: $white;
    background: $blue;
    img {
      transform: rotate(360deg);
    }
  }
}


.btn-exit {
  color: $dark-cloud;
  background: $background-category;
  border-radius: 20px;
  border: 1px solid $grey-snow;
  padding: 15px 51.5px;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    color: $dark-cloud;
    background: $hover-exit-button;
  }
}

.btn-navbar {
  color: $purple;
  background: $background-light-purple;
  border: 1px solid $purple;
  padding: 10px 56px;
  font-weight: 800;
  font-size: 16px;
  border-radius: 40px;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: $white;
    background: $purple;
    .fa-sort-down {
      transition: all 0.1s ease-in-out;
      color: $white;
    }
  }
}

.btn-main-reverse {
  color: $purple;
  background: $white;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  width: 20%;
  text-align: center;
  &:hover {
    font-weight: 800;
    color: $purple;
    background: $snow;
  }
}


.btn-card {
  cursor: pointer;
  color: $purple;
  background: rgb(244,234,254);
  padding: 9px 10.5px !important;
  font-weight: 700;
  font-size: 14px;
  border-radius: 16px;
  font-family: 'Montserrat';
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    background: $purple;
    color: $white;
  }
}

.btn-main-white {
  color: $purple;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  background: $white;
  padding: 15px 51.5px;
  font-weight: 200;
  font-size: 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
  border: 1px solid $purple;
  text-align: center;
  &:hover {
    text-decoration: underline;
    color: $purple;
  }
}
@include media-breakpoint-down(md) {
  .btn-main-reverse {
    width: 240px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .btn-flat-card {
    color: $white;
    background: $purple;
    display: block;
    width: 104px;
    height: 34px;
    line-height: 34px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    &:hover {
      background: $purple;
      color: $white;
    }
  }

  .btn-booking {
    color: $white;
    background: $purple;
    display: block;
    width: 100%;
    height: 47px;
    line-height: 34px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $purple;
      color: $white;
    }
  }
}
