.button-lite {
  background: linear-gradient(90deg, $purple 85%, rgba(255,255,255,1) 85%);
  width: 100%;
  color: white;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(140, 48, 245, 0.2);
}
.btn-google {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $black;
  background: $white;
  padding: 10px 51.5px;
  height: 60px !important;
  img {
    left: 35px;
    width: 22px;
    transition: all 1s ease;
  }
  &:hover {
    background: $snow;
    color: $black;
    img {
      transform: rotate(360deg);
    }
  }
}

.btn-facebook {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $white;
  background: $turquoise;
  padding: 10px 51.5px;
  height: 60px !important;
  img {
    left: 35px;
    transition: all 1s ease;
    width: 22px;
  }
  &:hover {
    color: $white;
    background: $blue;
    img {
      transform: rotate(360deg);
    }
  }
}


.btn-main {
  display: block;
  background: $purple;
  box-shadow: 0px 10px 30px rgba(103, 48, 245, 0.3);
  border-radius: 7px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  width: auto;
  min-width: 250px;
  height: 48px;
  cursor: pointer;
  line-height: 48px;
  color: $white;
  transition: background 0s;
  &:hover {
    color: $white;
  }
}

.btn-main-white {
  display: block;
  background: $white;
  box-shadow: 0px 10px 30px rgba(103, 48, 245, 0.3);
  border-radius: 7px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 270px;
  height: 48px;
  cursor: pointer;
  line-height: 48px;
  color: $purple;
  transition: background 0s;
  &:hover {
    color: $purple;
  }
}

.rounded-button {
  display: block;
  background: #F9F2FF;
  border-radius: 26px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  width: 270px;
  height: 48px;
  line-height: 48px;
  color: #4E2D92;
}

@include media-breakpoint-down(md) {
  .btn-main {
    width: 100% !important;
    font-size: 16px;
    font-weight: 600;
  }
  .btn-main-white {
    font-size: 16px;
  }
  .rounded-button {
    width: 100%;
  }
}
