.btn-google {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $black;
  background: $white;
  padding: 10px 51.5px;
  height: 60px !important;
  img {
    left: 35px;
    width: 22px;
    transition: all 1s ease;
  }
  &:hover {
    background: $snow;
    color: $black;
    img {
      transform: rotate(360deg);
    }
  }
}

.btn-facebook {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $white;
  background: $turquoise;
  padding: 10px 51.5px;
  height: 60px !important;
  img {
    left: 35px;
    transition: all 1s ease;
    width: 22px;
  }
  &:hover {
    color: $white;
    background: $blue;
    img {
      transform: rotate(360deg);
    }
  }
}


.btn-main {
  display: block;
  background: $purple;
  box-shadow: 0px 10px 30px rgba(103, 48, 245, 0.3);
  border-radius: 7px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  width: 270px;
  height: 48px;
  cursor: pointer;
  line-height: 48px;
  color: $white;
  transition: background 0s;
  &:hover {
    color: $white;
  }
}

.btn-main-white {
  display: block;
  background: $white;
  box-shadow: 0px 10px 30px rgba(103, 48, 245, 0.3);
  border-radius: 7px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  width: 270px;
  height: 48px;
  cursor: pointer;
  line-height: 48px;
  color: $purple;
  transition: background 0s;
  &:hover {
    color: $purple;
  }
}

@include media-breakpoint-down(md) {
  .btn-main {
    width: 100% !important;
  }
}
