.btn-main {
  color: $white;
  background: $purple;
  padding: 15px 51.5px !important;
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  border-bottom: 5px solid #6408CD !important;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.95;
    color: $white;
  }
}

.btn-google {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $black;
  background: $white;
  padding: 10px 51.5px;
  height: 60px !important;
  font-family: 'Manrope';
  img {
    left: 35px;
    transition: all 1s ease;
  }
  &:hover {
    color: $black;
    img {
      transform: rotate(360deg);
    }
  }
}

.btn-facebook {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: $white;
  background: #4589F7;;
  padding: 10px 51.5px;
  height: 60px !important;
  font-family: 'Manrope';
  img {
    left: 35px;
    transition: all 1s ease;
  }
  &:hover {
    color: $white;
    img {
      transform: rotate(360deg);
    }
  }
}

.btn-submit {
  color: $white;
  background: $purple;
  border: none;
  border-radius: 0 6px 6px 0 !important;
   &:hover {
    opacity: 0.95;
    color: $white;
  }
}

.btn-exit {
  color: $grey;
  background: $white;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  padding: 15px 51.5px;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    color: black;
  }
}

.btn-navbar {
  color: $purple;
  background: rgba(140, 48, 245, 0.2);
  border: 1px solid rgba(110, 48, 181, 0.2);
  padding: 10px 56px;
  font-weight: 800;
  font-size: 16px;
  border-radius: 40px;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: $white;
    background: $purple;
    .fa-sort-down {
      transition: all 0.1s ease-in-out;
      color: $white;
    }
  }
}

.btn-main-reverse {
  color: $purple;
  background: $white;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 20%;
  text-align: center;
  &:hover {
    opacity: 0.95;
    color: $purple;
  }
}


