
.carousel-card {
  .user {
    width: 100%;
    .img {
      margin: 2%;
    }
    .infos {
      .name {
        font-weight: 800;
        color: $blue;
      }
      .destination {
        font-size: 14px;
      }
    }
  }
  .sentence {
    text-align: center;
    width: 50%;
    color: $blue;
    font-style: italic;
  }
}
