.carousel-bg {
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-inner {
  padding: 5% 0;
}
.control-icon i {
  color: $blue;
}

.carousel-indicators {
  margin: -2rem;
  li {
    background-color: $blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: .2;
  }
}
