.carousel-card {
  .user {
    width: 100%;
    font-size: 16px;
    .img {
      margin: 2%;
      img {
        height: 75px;
      }
    }
    .infos {
      font-size: 16px;
      .name {
        font-weight: 800;
        color: $black;
      }
      .destination {
        font-size: 14px;
        color: $black;
      }
    }
  }
  .sentence {
    width: 40%;
    color: $black;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
  }
}

@include media-breakpoint-only(xs) {
  .carousel-card .sentence {
    width: 100%;
  }
}

