.coming-soon-banner {
  background: $purple;
  padding: 4%;
  .title {
    color: $white;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .subtitle {
    color: $white;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  img {
    width: 60%;
  }
}

@include media-breakpoint-down(md) {
.coming-soon-banner {
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }
  img {
    width: 100%;
  }
}
}

