.dashboard-mobile-modal {
  .modal-dialog {
    height: 70%;
    transition: 0.5s;
    &.active {
      height: 100%;
      transition: 0.5s;
    }
  }
}

.card-service {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: 0.5s;
  &.active {
    background: #22055D;
    box-shadow: none;
    color: white;
    transition: 0.5s;
  }
  &.small {
    transition: 0.5s;
    height: 40px;
  }
}

.card-service img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-service h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-service p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-service .card-service-infos {
  padding: 16px;
  width: 100%;
}

.congrats-modal {
  .decorations {
    width: 100%;
    padding: 0px;
    .top {
      height: 125px;
      width: 100%;
      background: linear-gradient(180deg, rgba(141,28,218,1) 0%, $purple 68%);
    }
    .triangles {
      width: 100%;
      .triangle-1 {
        width: 50%;
        height: 75px;
        background: linear-gradient(to bottom right, $purple 50%, transparent 50%);
      }
      .triangle-2 {
        width: 50%;
        height: 75px;
        background: linear-gradient(to bottom left, $purple 50%, transparent 50%);
      }
    }
  }
  .congrats-text {
    margin-top: 3rem;
  }
  .logo {
    position: absolute;
    top: 15%;
  }
}
