.dashboard-navbar {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  bottom: 0px;
  background-color: white;
  z-index: 10;
  i {
    font-size: 21px;
  }
  .menu {
    height: 65px;
  }
  .add-service {
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    i {
      font-size: 38px;
      color: $purple;
    }
  }
}
