.border-active {
  box-shadow: 0px 1px 1px 1px #2fab737d !important
}
.border-inactive {
  box-shadow: 0px 1px 1px 1px #ff6c6c40 !important
}
.dashboard-card {
  border-radius: 8px;
  box-shadow: 0px 16px 40px 0px #A6A3AD33;
  font-family: 'Poppins';
  .link {
    margin-top: 1rem;
    font-size: 12px;
    color: grey;
  }
  .status {
    .cancelled {
      border: 1px solid orange;
      padding: 2% 5%;
      font-size: 12px;
      color: orange;
    }
    .active {
      border: 1px solid green;
      padding: 2% 5%;
      font-size: 12px;
      color: green;
    }
  }
  .title {
    font-weight: 700;
    font-size: 18px !important;
  }
  .total-price {
    font-weight: 500;
    font-size: 18px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 14px !important;
    color:$purple;
  }
  .price {
    font-weight: 400;
    font-size: 15px
  }
  .category {
    font-size: 10px;
  }
  .logo {
    width: 45px;
  }
  .button {
    background: linear-gradient(90deg, $purple 85%, rgba(255,255,255,1) 85%);
    width: 100%;
    color: white;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(140, 48, 245, 0.2);
  }
  hr {
    color: #8330F5;
    margin: 0;
  }
  .products {
    background: #f9f6fe;
  }
  .top {
    height: 70px;
  }
  .product {
    height:75px;
  }
}
