.explanation-card {
  color: $black;
  .title {
    font-size: 20px;
    font-weight: 500;
  }
}


@include media-breakpoint-down(md) {
  .explanation-card {
    align-items: center;
    margin-bottom: 3rem;
    .desc {
      text-align: center;
    }
  }
}
