@include media-breakpoint-down(md) {
  .flow-container {
    min-height: calc(100vh - 75px);
    .btn-main-white {
      width: 100% !important;
      margin-top: 1rem;
    }
    h2 {
      font-family: 'Poppins';
      font-weight: 600;
    }
    p {
      color: #18191F;
      margin-bottom: 2rem;
      font-size: 16px;
      font-weight: 300;
    }
    ul {
      margin-bottom: 2rem;
    }
  }
}
