@include media-breakpoint-down(md) {
  .flow-container {
    min-height: calc(100vh - 75px);
    margin-bottom: 1rem;
    .btn-main-white {
      width: 100% !important;
      margin-top: 1rem;
    }
  }
}
