.flow-container {
  .btn-main-white, .btn-main {
    width: 100%;
  }
}
@include media-breakpoint-up(md) {
  .flow-container {
    min-height: calc(100vh - 53px + 4rem);
    padding-top: 4rem;
    h3 {
      font-weight: 700;
      font-family: 'Poppins';
      font-size: 30px;
    }
  }
}

@include media-breakpoint-down(md) {
  .flow-container {
    min-height: calc(100vh - 75px);
    .btn-main-white {
      margin-top: 1rem;
    }
    h2 {
      font-family: 'Poppins';
      font-weight: 600;
    }
    h3 {
      font-family: 'Poppins';
      font-weight: 700;
    }
    p {
      color: #18191F;
      margin-bottom: 1rem;
      font-size: 16px;
      font-weight: 300;
    }
    ul {
      margin-bottom: 2rem;
    }
  }
}
