footer {
  max-width: 100%;

  .part-1 p{
    font-size: 12px;
    color: $dark-grey;
  }

  .part-2 {
    font-size: 19px;
    color: $blue;
    a {
      background: $light-blue;
      border-radius: 12px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  .part-3, .part-4 {
    font-weight: 800;
    color: $blue;
  }

  .part-5 {
    color: $dark-grey;
    font-size: 14px;
  }
}

@include media-breakpoint-down(xs) {

}
