.footer {
  background: black;
  .logo {
    color: $white;
    font-size: 24px;
  }
  .bot {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  a {
    color: $white;
    font-weight: 300;
  }

  span {
    color: $white;
  }
  hr {
    border-top: 1px solid #f8f9fa30 !important;
    width: 85%;
  }
}
