.form-base {
  h4 {
    font-weight: 800;
    color: $dark;
    font-size: 30px;
  }
  label {
    font-size: 16px;
    color: $grey;
    font-weight: 300;
  }
  input, select {
    height: calc(1.5em + 0.75rem + 18px) !important;
    border-radius: 6px;
    border: 1px solid $light-grey;
    &::placeholder {
      font-size: 14px;
      color: $light-grey;
      font-weight: 300;
    }
  }
  abbr[title], acronym[title] {
    text-decoration: none !important;
  }
  .form-control:focus {
    border-color: rgba(140,48,245,0.35);
    box-shadow: 0 0 0 0.2rem rgba(140,48,245,0.25);
  }
  .form-control[readonly] {
    background: $light-purple;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .stripe-input {
    height: calc(1.5em + 0.75rem + 18px) !important;
    border-radius: 6px !important;
    border: 1px solid #8692A6 !important;
  }
  .__PrivateStripeElement {
    width: 100%;
  }
}
