.registration-form {
  font-family: "Manrope", sans-serif;
  h4 {
    font-weight: bold;
    color: $dark;
    font-size: 30px;
  }
  label {
    font-size: 16px;
    color: $grey;
    font-weight: 300;
  }
  input {
    height: calc(1.5em + 0.75rem + 18px) !important;
    border-radius: 6px;
    border: 1px solid $light-grey;
    &::placeholder {
      font-size: 14px;
      color: $light-grey;
      font-weight: 300;
    }
  }
  abbr[title], acronym[title] {
    text-decoration: none !important;
  }
}
