.form-control {
  border-radius: 10px;
  height: calc(1.5em + 0.75rem + 13px);
  border-color: $grey;
}

form input {
  font-size: 12px !important;
}

form input::placeholder {
  color: $dark-grey !important;
  font-size: 12px;
}

label {
  color: $blue;
  font-size: 12px;
  font-weight: 800;
}

.form-control[readonly]  {
  background-color: $white;
}

.form-b-links {
  span {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
}

.iti {
  width: 100%;
}



@include media-breakpoint-down(md) {
  .registration-input {
    .placeholder-left {
      width: 50%;
    }
    .ap-with-places {
      width: 95vw !important;
      left: -145px !important;
    }
  }
}
