.hamburger {
  span {
    height: 3px;
    display: block;
    transition: 0.3s;
  }
  #h-1 {
    width: 15px;
    background: $purple;
  }
  #h-2 {
    width: 9px;
    background: $turquoise;
  }
}

.cross {
  #h-1 {
    transform: translateY(4px) rotate(45deg);
  }
  #h-2 {
    transform: translateY(-3px) rotate(-45deg);
    width: 15px;
  }
}

.rotate {
  i {
    color: $purple !important;
    transform: rotate(180deg);
  }
}
