.how-it-works {
  background: $purple;
  color: white;
  .swiper-container {
    border-radius: 0;
    z-index: unset !important;
    .swiper-pagination-bullet {
      background: $light-grey !important;
    }
    .swiper-pagination-bullet-active {
      background: $hover-button !important;
    }
  }
  .subheadline {
    font-size: 18px;
  }
  .line_1 {
    width: 11%;
    border-bottom: 1px solid #8330F5;
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 2;
  }
  .line_2 {
    width: 11%;
    border-bottom: 1px solid #8330F5;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 2;
  }
  .card {
    display: flex;
    align-items: center;
    flex-direction: initial;
    border: none;
    text-align: left;
    background: $purple;
    color: white;
    .img-box {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      background-size: cover;
      span {
        font-size: 22px;
      }
    }
    .number {
      margin-right: 2rem;
      width: 100px;
      background: #B68EF9;
      height: 130px;
      width: 130px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 24px !important;
      span {
        font-size: 30px !important;
        font-weight: 500;
      }
    }
    .content {
      .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0.5rem;
      }
    }
  }
  .white-line-1 {
    top: 54%;
    left: 20%;
    z-index: 1;
    width: 318px;
  }
  .white-line-2 {
    width: 318px;
    top: 54%;
    z-index: 1;
    right: 22%;
  }
}
@include media-breakpoint-down(xxl) {
  .white-line-1 {
    top: 50% !important;
    left: 19% !important;
    transform: scale(0.9, 1);
  }
  .white-line-2 {
    top: 50% !important;
    right: 20% !important;
    transform: scale(0.9, 1);
  }
}
@include media-breakpoint-down(xl) {
  .white-line-1 {
    top: 50% !important;
    left: 16% !important;
    transform: scale(0.7, 0.8);
  }
  .white-line-2 {
    top: 50% !important;
    right: 17% !important;
    transform: scale(0.7, 0.8);
  }
}
@include media-breakpoint-down(lg) {
  .white-line-1 {
    top: 47% !important;
    left: 10% !important;
    transform: scale(0.4, 0.5);
  }
  .white-line-2 {
    top: 47% !important;
    right: 11% !important;
    transform: scale(0.4, 0.5);
  }
}
@include media-breakpoint-down(md) {
  .card {
    display: flex;
    align-items: center;
    flex-direction: initial;
    border: none;
    text-align: left;
    .number {
      width: 125px !important;
      height: 140px !important;
      border-top-right-radius: 160px !important;
      border-bottom-right-radius: 160px !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      span {
        font-size: 30px !important;
        font-weight: 500;
      }
    }
    .content {
      .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0.5rem;
      }
    }
  }
}
