.map-container {
  height: 100vh;
  position: sticky !important;
  top: 80px;
  .marker {
    background: $purple;
    width: 43px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    .price {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 14px;
      color: $white;
    }
  }
}
