.navbar-lewagon {
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: $black !important;
  font-weight: 600;
}

@include media-breakpoint-down(xs) {
  .navbar {
    .btn-minor {
      text-align: center;
      border-radius: 0px;
      width: 100%;
    }
  }
}
