.navbar-lewagon {
  background: $white;
  .btn-minor {
    color: $white !important;
    background-color: $orange;
    &:hover {
      background: $light-pink;
      color: $orange !important;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: $black !important;
  font-weight: 600;
}

a.navbar-brand {
  color: $blue;
  font-size: 24px;
  font-weight: bold !important;
}

.logo {
  width: 110px;
}

@include media-breakpoint-down(xs) {
  .navbar {
    .btn-minor {
      text-align: center;
      border-radius: 0px;
      width: 100%;
    }
  }
}
