.offers-banner {
  background-size: cover;
  justify-content: space-evenly;
  color: $white;
  position: relative;
  padding: 1.5rem 0;
  background: rgb(131,48,245);
  background: linear-gradient(8deg, rgba(131,48,245,1) 0%, rgba(157,86,255,1) 93%);
  .bg-position-1 {
    bottom: 20%;
  }
  .bg-position-2 {
    right: 0;
    top: 14%;
  }
  h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
  }
  .subtitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
  }
  .product-card {
    color: $black;
    background: $white;
    min-height: 542px;
    height: auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 565px;
    width: 365px;
    .icon {
      width: 25px;
      height: 25px;
    }
    .top {
      margin-top: 6rem;
    }

    h3 {
      font-family: 'Poppins';
      font-weight: 700;
      margin-bottom: 0;
      font-size: 18px;
    }
    p {
      font-family: 'Poppins';
      font-weight: 400;
      margin-bottom: 0;
      font-size: 16px;
    }
    .name {
      font-weight: bold;
    }
    img {
      left: 49%;
      transform: translate(-50%);
      top: -13vh;
      width: 55%;
    }
    .movido-card {
      top: -7vh;
    }
  }
}

@include media-breakpoint-down(md) {
  .product-card {
    min-height: 235px;
    width: 100%;
  }
}
