.payment-modal {
  .modal-dialog {
    height: 70%;
    transition: 0.5s;
    position: absolute;
    bottom: 0px;
  }
  .modal-content {
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 0px 16px rgba(140, 48, 245, 0.2);
  }
  #card-cvc-element {
    width: 60px;
  }
}