.pricing-card {
  h2 {
    color: $white;
    margin-bottom: 15px;
  }
  p.desc {
    opacity: 0.4;
    color: $white;
  }
  .blue-bg {
    background: #22055D !important;
  }
  .card.settle-in {
    background: $purple;
    .price, li, p.desc, i {
      color: $white;
    }
    i {
      opacity: 0.4;
    }
  }
  .card.starter {
    background: $white;
    .price, li, p.desc {
      color: $black;
    }
    i {
      color: #4E2D92;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #3a206f5c;
    padding: 40px;
    min-height: 520px;
    .price {
      font-size: 33px;
      font-weight: 600;
      margin-bottom: 13px;
    }
    p.desc {
      opacity: 0.4;
      margin-bottom: 30px;
    }
    ul {
      li {
        margin-bottom: 20px;
        font-weight: 500;
        i {
          margin-right: 10px;
        }
      }
    }
  }
  span.subline {
    color: $white;
    font-size: 11px;
  }
}
