@include media-breakpoint-up(md) {
  .progress {
    position: absolute;
    top: 70px;
    width: 100%;
   }
}

.progress {
  border-radius: 0;
  height: 6px;
  .progress-bar {
    background: $purple;
  }
}

