.product-card {
  position: relative;
  height: auto;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition-duration: 0.5s;
  label {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  h3.name {
    font-size: 22px;
    font-weight: 300;

  }
  p.description {
    font-weight: 600;
    font-size: 16px;
  }
  p.detail {
    font-size: 14px;
    i {
      color: $purple;
      font-size: 16px;
      margin-right: 0.5rem;
    }
  }
  .bottom-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span.price {
      font-weight: 600;
      font-size: 16px;
    }
    i {
      color: $green;
      border: 2px solid $green;
      border-radius: 50%;
      padding: 4px 6px;
      margin-right: 0.9rem;
      font-size: 16px;
      }
      img {
        height: 100px;
        width: auto;
      }
    }

}

.product-card.active {
  background: #22055D;
  box-shadow: none;
  * {
    color: $white;
  }
  p.detail {
    i {
      color: $white;
    }
  }
  img {
    filter: invert(1);
  }
  .bottom-part {
    i {
      padding: 4px;
      background: $green;
      color: $white;
    }
  }
}

@include media-breakpoint-down(md) {
  .product-card {
    p.description {
      font-size: 12px;
    }
    p.detail {
      font-size: 12px;
    }
  }
}
