.profile-dropdown {
  .profile-dropdown-button {
    cursor: pointer;
  }
  .welcome {
  font-size: 15px;
  color: $dark-grey;
  }
  .name {
    font-weight: 800;
    color: $dark-blue;
  }
  i {
    font-size: 24px;
    transition: 0.3s;
    color: $dark-grey;
  }
  .dropdown-menu {
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
    border: 0;
  }
  hr {
    width: 100%;
    border-top: 2px solid $light-blue;
  }
  .action{
    position: relative;
    &:hover {
      text-decoration: none;
      color: $dark-blue;
    }
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: $dark-blue;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &:hover:before {
      visibility: visible;
      width: 100%;
    }
  }
}

