:root {
  --gutter: 20px;
}

.service-cards-scroller {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(33% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    scroll-behavior: smooth;
  }
  .hs > li,
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 8px;
  }

}


.service-cards-scroller > * {
  grid-column: 2 / -1;
}

.service-cards-scroller > .full {
  grid-column: 1 / -1;
}

.hs::-webkit-scrollbar {
  display: none;
}



.service-cards-scroller {
  width: 100%;
  overflow-x: hidden;
}



.services-cards-wrapper {
  i {
    font-size: 45px;
    cursor: pointer;
    transition: 1s;
  }
}

.service-card {
  position: relative;
  box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
  border: 1px solid $border-card;
  border-radius: 27.5px;
  margin-bottom: 4rem;
  padding: 5% 9% !important;
  height: 259px;
  .top-line {
    height: 70px;
  }
  .title {
    font-size: 20px;
    font-weight: 800;
  }
  .timer {
    font-size: 14px;
    color: $dark-taupe;
    opacity: 0.4;
  }
  .desc {
    font-size: 16px;
    color: $dark-taupe;
    min-height: 70px;
  }
  img {
    transform: translateX(-37%) scale(0.25);
  }
  .comming-soon-bar {
    background: $grey-metal;
    color: $purple;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: Montserrat;
    padding: 2%;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 39px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -6px;
  }
}


@include media-breakpoint-down(md) {
  .service-cards-scroller {
    .hs {
      grid-template-columns: repeat(6, calc(105% - var(--gutter) * 2));
      padding-left: 0;
      overflow-x: scroll;
    }
  }
  .open-card {
    height: 208px !important;
  }
  .services-cards-wrapper i {
    font-size: 30px;
  }
  .service-card {
    font-family: "Montserrat", sans-serif;
    padding: 0% 5% !important;
    margin-bottom: 1rem;
    width: 100%;
    height: 92px;
    img {
      transform: translateX(0%) scale(0.90);
      width: 24px;
    }
    .top-line {
      height: 92px;
      border-bottom: 1px solid $grey-snow;
    }
    .title {
      font-size: 14px;
      font-weight: 700;
    }
    .desc {
      font-size: 12px;
      font-weight: 400;
    }
    .service-card-dropdown .dropdown-button {
      font-size: 20px;
    }
    .timer {
      font-size: 12px;
      font-weight: 700;
    }
  }
}

@include media-breakpoint-down(md) {
  .hs > li,
    .item {
      padding: 0;
    }

  .service-cards-scroller {
    padding-bottom: 0;
    overflow-y: hidden;
    padding: 20px 15px;
    .hs {
      grid-template-columns: repeat(6, calc(105% - var(--gutter)));
      padding-left: 0;
      overflow-x: scroll;
      padding-bottom: 0;
    }
  }
  .service-cards-scroller > * {
    grid-column: 1 / -1;
  }
  .open-card {
    height: 208px !important;
  }
  .services-cards-wrapper {
    .arrow {
      width: 50px;
    }
    i {
      font-size: 30px;
    }
  }
  .service-card {
    font-family: "Montserrat", sans-serif;
    padding: 0% 5% !important;
    margin-bottom: 1rem;
    width: 100%;
    height: 92px;
    img {
      transform: translateX(0%) scale(0.90);
      width: 24px;
    }
    .top-line {
      height: 92px;
      border-bottom: 1px solid $grey-snow;
    }
    .title {
      font-size: 14px;
      font-weight: 700;
    }
    .desc {
      font-size: 12px;
      font-weight: 400;
    }
    .service-card-dropdown .dropdown-button {
      font-size: 20px;
    }
    .timer {
      font-size: 12px;
      font-weight: 700;
    }
  }
}
