.static-container {
  padding-top: 4.5rem;
  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  p, span, li {
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
  }
}

@include media-breakpoint-down(md) {
  .static-container {
    padding-top: 0rem;
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
    p, span, li {
      font-size: 14px;
    }
  }
}
