.progress-bar-starter {
  i {
    font-size: 12px;
  }
  .progress-bar {
    min-width: 70px;
    margin-bottom: 1rem;
    height: 2px;
    border-radius: 6px;
    background-color: #B68EF9;
    overflow: visible;
    &.active {
      background-color: #8330F5;
    }
  }
  .step-box {
    max-width: 25px;
  }
  .ellipse {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #B68EF9;
    &.active {
      background-color: #8330F5;
    }
  }
  .step {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #979797;
  }
}