.steps-wrapper {
  h1 {
    font-weight: 800;
    font-size: 48px;
    color: $black;
  }
  p {
    font-weight: normal;
    font-size: 18px;
    a {
      color: $purple;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .steps4, .steps3 {
    &:last-child {
      margin-right: 0 !important;
    }
  }
  .steps4 {
    width: calc(60vw / 4);
  }
  .steps3 {
    width: calc(60vw / 3);
  }
  .line-dashed {
    height: 2px;
    width: 70%;
    border-bottom: 2px dashed #20222ceb;
    opacity: 0.1;
    z-index: -1;
    left: 15%;
    top: 25px;
  }
  .grey-step {
    background: rgba(160, 171, 199, 0.76);
    color: rgba(160, 171, 199, 0.76);
  }
  .blue-step {
    background: $blue;
    i {
      color: $blue;
    }
  }
  .green-step{
    background: $green;
    i {
      color: $green;
    }
  }
  .step {
    font-size: 18px;
    color: #969BAB;
    height: 45px;
    width: 45px;
    border: 1px solid #8080808a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    background: white;
    opacity: 1;
  }
  .step-active {
    background: #9D4FF7;
    color: white;
    opacity: 1;
  }
  .step-text {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #D9DBE1;
  }
  .step-text-active {
    color: $purple;
  }
}

@include media-breakpoint-down(md) {
  .steps4, .steps3 {
    font-size: 0 !important;
  }
}
