.steps-wrapper {
  h1 {
    font-weight: 800;
    font-size: 48px;
    color: $black;
  }
  p {
    font-weight: normal;
    font-size: 18px;
    a {
      color: $purple;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .steps4, .steps3 {
    &:last-child {
      margin-right: 0 !important;
    }
  }
  .steps4 {
    width: calc(60vw / 4);
  }
  .steps3 {
    width: calc(60vw / 3);
  }
  .line-dashed {
    height: 2px;
    width: 70%;
    border-bottom: 2px dashed $dashed-steps;
    z-index: -1;
    left: 15%;
    top: 25px;
  }

  .step {
    font-size: 18px;
    color: $grey;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    background: $background-step;
  }
  .step-active {
    background: $light-purple;
    color: $white;
  }
  .step-text {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: $grey-snow;
  }
  .step-text-active {
    color: $purple;
  }
}

@include media-breakpoint-down(md) {
  .steps-wrapper {
    h1 {
      font-size: 26px;
      font-family: 'Montserrat';
      font-weight: bold;
    }
    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
}
