.stripe-wrapper {
  .texts {
    img {
      width: 60px;
    }
    h4 {
      font-weight: 800;
    }
    .bit-info {
      color: $dark-cloud;
      font-size: 14px;
    }
  }
  #card-errors {
    color: $red !important;
    font-weight: 900;
  }
  .stripe-input {
    height: calc(1.5em + 0.75rem + 26px) !important;
    border-radius: 14px;
    box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
    border: 1px solid $grey-snow;
    &::placeholder {
      font-size: 12px;
      color: $taupe;
      opacity: 0.4;
      font-weight: 300;
    }
  }
  .__PrivateStripeElement {
    width: 100%;
  }
  .legals {
    font-size: 14px;
    color: $dark-cloud;
  }
}

@include media-breakpoint-down(md) {
  .stripe-wrapper {
    .texts {
      img {
        width: 70px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
}
