.subscription-card {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition-duration: 0.5s;
  .title {
    font-weight: bold;
  }
  .logo {
    width: 40px;
  }
  .pricing {
    font-size: 14px;
    font-weight: 500;
  }
  .controls-wrapper {
    padding: 3%;
    margin-top: 1rem;
    i {
      font-size: 22px;
    }
  }
  .products-wrapper {
    .product {
      span {
        font-size: 12px;
      }
    }
    .img-box {
      height: 40px;
    }
  }
}
