.team-container {
  .team-wrapper {
    justify-content: space-between;
    .team-card {
      background: $purple;
      max-width: 340px;
      border-radius: 58px;
      height: 117px;
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 40px;
      color: $white;
      align-items: center;
      .role {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 17px;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
      }
      .location {
        font-weight: 300;
        font-size: 14px;
      }
      img.team-img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .team-container {
    .team-wrapper {
      justify-content: center;
      .team-card {
        margin-bottom: 17px;
      }
    }
  }
}
