#testimonials {
  background: $light-turquoise;
  .quote {
    position: absolute;
    left: -2rem;
  }
  .testimonial-card {
    box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
    background: $white;
    border-radius: 6px;
    width: 60%;
    padding: 2rem 3rem 2rem 3rem !important;
    .sentence {
      font-style: italic;
      font-weight: lighter;
      color: $dark;
    }
    img {
      width: 30%;
    }
    .name {
      font-weight: 800;
    }
    .from {
      font-size: 12px;
      color: $grey;
    }
    .destination {
      font-size: 12px;
      color: $grey;
    }
  }
}


@include media-breakpoint-down(md) {
  #testimonials {
    .main-title p {
      text-align: center;
    }
    .testimonial-card {
      width: 100% !important;
    }
  }
}
