body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat !important;
  height: auto !important;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

s,
strike {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

s:after,
strike:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid red;
  height: 45%;
  height: calc(50% - 1px);
  width: 100%;
  transform: rotateZ(-6deg);
}

img {
  background-size: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

hr {
  color: #80808094;
}

.gold {
  color: gold;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

button {
  outline-style: none !important;
  border: none !important;
}

.background-size-cover {
  background-size: cover;
}

.mh-100 {
  min-height: 100vh  !important;
}

.white {
  color: $white !important;
}

.radius-bot-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn {
  padding: 0;
}

.padded {
  padding: 12.5%;
}


.iti__flag {background-image: asset-url("flags/flags.png") !important;}
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: asset-url("flags/flags@2x.png") !important;
  }
}

.black {
  color: $black !important;
}

.bg-black {
  background: $black;
}


.w-10 {
  width: 10% !important;
}

.ap-input-icon {
  display: none;
}

.flatpickr-monthDropdown-months {
  -webkit-appearance: none !important;
}

.wrapper {
  flex: 1 !important;
}

.termly-style-cookie-preference-44d002 {
  font-size: 14px !important;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.grey {
  color: $grey;
}

.light-purple {
  color: $light-purple !important;
}

.purple {
  color: $purple !important;
}


.disabled {
  pointer-events: none;
}

@include media-breakpoint-down(md) {
  .intercom-launcher, .intercom-launcher-frame {
    bottom: 80px !important;
  }
  .padded {
    padding: 15%;
  }
}
