body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto !important;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

button {
  outline-style: none !important;
  border: none !important;
}

.iti__flag {background-image: asset-url("flags/flags.png") !important;}
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: asset-url("flags/flags@2x.png") !important;
  }
}

.policy-link {
  color: #2266CD;
  text-decoration: underline;
  &:hover {
    color: #1052b5;
    text-decoration: underline;
  }
}

.ap-input-icon {
  display: none;
}

.wrapper{
  flex: 1 !important;
}

.termly-style-cookie-preference-44d002 {
  font-size: 14px !important;
}

.background-white {
  background: $white !important;
}


.font-weight {
  font-weight: 800;
}

.green {
  color: $green;
}

.grey {
  color: $grey;
}

.light-purple {
  color: $light-purple !important;
}

.purple {
  color: $purple !important;
}


.disabled {
  pointer-events: none;
}

.cookies-container, .terms-container {
  padding-top: 80px;
}

@include media-breakpoint-down(md) {
  .intercom-launcher, .intercom-launcher-frame {
    bottom: 80px !important;
  }
  .cookies-container, .terms-container {
    padding-top: 2rem;
  }
}
