.why-cards-wrapper {
  .left {
    border-right: 1px solid #EEF1F4;
  }
  .why-card {
    color: $blue;
    .illustration {
      margin-bottom: 1rem;
      img {
        width: 50px;
      }
    }
    .title {
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
    }
    .desc {
      font-size: 14px;
      padding-right: 20%;
      color: $black;
    }
  }
}



@include media-breakpoint-only(xs) {
  .why-cards-wrapper .why-card {
   align-items: center;
    .desc {
      padding: 0
    }
  }
}
