.why-cards-wrapper {
  .why-card {
    .illustration {
      margin-bottom: 1rem;
      img {
        width: 50px;
      }
    }
    .title {
      font-weight: 600;
      font-size: 18px;
    }
  }
}



@include media-breakpoint-only(xs) {
  .why-cards-wrapper .why-card {
    padding: 5%;
  }
}
