<div class="map-container" data-action="update-map@window->map#updateMarkers reload-map@window->map#reloadMap" data-markers = "<%= markers.to_json %>" data-center="<%= center.to_json %>" id="map"></div>
