.registration-address-container {
  min-height: 77vh;
  .picto {
    width: 30px;
    margin-right: 0.5rem;
  }
  .title {
    font-weight: 800;
    font-size: 30px;
    color: $black;
  }
  .small-yellow-bubble {
    right: 10%;
  }
  .big-blue-bubble {
    left: -20%;
    top: -20%;
  }
  .invalid-feedback {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  .registration-address-container {
    .big-blue-bubble {
      bottom: 60px;
      left: -40px;
      width: 190px;
      height: 190px;
    }
    .small-yellow-bubble {
      width: 100px;
      height: 100px;
      top: 50px;
      right: 20px;
    }
  }
}
