.registration-address-container {
  min-height: 77vh;
  .picto {
    width: 30px;
    margin-right: 0.5rem;
  }
  .title {
    font-weight: 800;
    font-size: 30px;
    color: $black;
  }
  .small-yellow-bubble {
    right: 10%;
  }
  .big-blue-bubble {
    left: -20%;
    top: -20%;
  }
  .invalid-feedback {
    display: block;
  }
  p {
    font-weight: bold;
    font-size: 14px;
    color: $dark-cloud;
  }
}

@include media-breakpoint-down(md) {
  .registration-address-container {
    min-height: auto;
    padding-top: 80px;
    .title {
      font-size: 20px;
    }
    .picto {
      width: 40px;
    }
  }
}
