<div class="flow-container" data-controller="animate">
  <div class="container">
      <%= render 'shared/chat', messages: messages %>
      <div class="content-container" data-delay="1" data-animate-target="contentContainer">
        <div class="form-base">
          <%= render 'steps/checkout/checkout_form', order: order %>
        </div>
    </div>
  </div>
</div>
