.banks-container {
  padding-top: 80px;
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  .big-blue-bubble {
    top: -210px;
    left: -200px;
  }
  .small-yellow-bubble {
    right: 100px;
    bottom: 580px;
  }
  .small-blue-bubble {
    bottom: 240px;
    left: 170px;
  }
  .big-purple-bubble {
    bottom: 0;
    right: -230px;
  }
  .bank-card {
    background: $white;
    border: 1px solid $grey-snow;
    border-radius: 27.5px;
    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
    }
    .link {
    height: 60px;
    border-top: 1px solid $grey-snow;
    font-size: 16px;
    position: relative;
      a:first-child {
        position: absolute;
        right: 48%;
      }
      a:last-child {
        position: absolute;
        right: 0;
      }
    }
    img {
      width: 25%;
      height: 25%;
    }
    .content {
      .title {
        font-size: 24px;
        font-weight: bold;
      }
      .features {
        .feature span {
          font-size: 14px;
          line-height: 26px;
          color: $dark-cloud;
          font-weight: bold;
        }
      }
    }
  }
  .modal-link {
    font-weight: 800;
    font-size: 16px;
    text-decoration: underline;
  }
}

@include media-breakpoint-down(md) {
  .banks-container {
    padding-top: 2rem;
    h2 {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 26px;
    }
    .bank-open-card {
      font-family: 'Montserrat';
      box-shadow: 0px 16px 40px 0px #A6A3AD !important;
      &:hover {
        box-shadow: 0px 16px 40px 0px #A6A3AD !important;
      }
      .top {
        background: $snow;
        border-radius: 14px 14px 0px 0px;
        border-bottom: 1px solid $grey-snow;
      }
      .bottom {
        border-bottom: 1px solid $grey-snow;
      }
      .dropdown-card {
        h4 {
          font-weight: bold;
          font-size: 14px;
          font-family: 'Montserrat';
        }
        ul {
          padding-left: 19px;
        }
        li {
          opacity: 0.7;
          font-weight: normal;
          font-size: 12px;
          color: $dark-cloud;
        }
      }
    }
    .bank-card {
      border-radius: 14px;
      border: 1px solid $grey-snow;
      font-family: 'Montserrat';
      &:hover {
        box-shadow: none;
      }
      .bottom {
        font-weight: normal;
        font-size: 12px;
        li {
          line-height: 19px;
          width: 90%;
        }
      }
      .company {
        font-weight: bold;
        font-size: 14px;
      }
      .headline {
        font-size: 11px;
      }
      .logo {
        width: 44px;
      }
    }
  }
}
