<%= link_to flat_path(location, type, code), class:'w-100' do %>
  <div class="flat-card d-flex mb-4">
    <div class="img-box mr-3"  style="background-image:url(<%= image_url %>);">
    </div>
    <div class="details d-flex flex-column justify-content-around">
      <div class="name">
        <%= name %>
      </div>
      <div class="pricing">
        <%= price %>
      </div>
    </div>
  </div>
<% end %>
