<%= link_to flat_path(location, type, code) do %>
  <div class="flat-card d-flex">
    <div class="img-box mr-3"  style="background-image:url(<%= image_url %>);">
    </div>
    <div class="details d-flex flex-column justify-content-center">
      <div class="name">
        <%= name.length > 30 ? name.first(30) + '...' : name %>
      </div>
      <div class="pricing">
        <%= price %>
      </div>
    </div>
  </div>
<% end %>
