<div class="flat-card d-flex mb-4">
  <div class="img mr-3" style="width: 160px">
    <%= image_tag(flat['images'][0]['url'] )%>
  </div>
  <div class="details d-flex flex-column justify-content-around">
    <div class="name">
      <%= flat['name'] %>
    </div>
    <div class="pricing">
      <%= flat['disp_price'] %>
    </div>
  </div>
</div>
