<div class="flat-card d-flex">
  <div class="img-box mr-3"  style="background-image:url(<%= asset_path "flats/providers/#{type}_placeholder.png" %>);"></div>
  <div class="details d-flex flex-column justify-content-center">
    <div class="name">
      <%= t("providers.index.#{type}") %>
    </div>
    <div class="pricing">
      <%= t("providers.index.#{message}") %>
    </div>
  </div>
</div>
