<div class="title d-flex align-items-center justify-content-between">
  <h3><%= t("providers.index.#{type}") %><i class="far fa-info-circle grey ml-1"  data-toggle="tooltip" data-placement="top" title="This is an explanation tooltip"></i></h3>
  <%= link_to t('providers.index.show_all'), flat_preference_path(flat_preference.id, type: type), method: :put, class: 'link'%>
</div>
<div class="flats-card-scroller pt-0">
  <ul class="hs" data-animate-target="container">
    <% flats.first(5).map do |flat| %>
      <li class="item">
        <%= render 'providers/mobile/card', flat: flat, type: type, location: flat_preference.location, code: flat['code'], image_url: flat['images'][0]['url'], name: flat['name'], price: "#{flat['disp_price']} / #{flat['billing'].downcase}" %>
      </li>
    <% end %>
  </ul>
</div>
