<h3>Uniacco flats</h3>
<% @uniacco_flats.first(5).map do |flat| %>
  <div class="flat-card">
    <div class="name">
      <%= flat['name'] %>
    </div>
    <div class="city">
      <%= flat['city'] %>
    </div>
  </div>
<% end %>
