<div class="navbar navbar-providers navbar-expand-sm navbar-light navbar-movido d-flex align-items-center justify-content-between" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to real_estate_landing_path, class: 'location d-flex align-items-center' do %>
    <i class="far fa-chevron-left mr-4"></i>
    <span><%= params[:query].capitalize %></span>
  <% end %>
  <span class="title">Choose your accomodation type</span>
</div>

