<div class="subnavbar">
  <div class="filters">
    <%= simple_form_for flat_preference, html: {method: :put, data: { providers_target:'form'}} do |f| %>
      <%= f.input :move_in, as: :string, label: false,
         required: true,
         input_html: { class: 'background-white datepicker', id: 'date-input', data: { controller: 'flatpickr',
          action: 'change->providers#filterByDates', flatpickr_default_date: [move_in.to_date, move_out.to_date], flatpickr_alt_input: true, flatpickr_alt_format: '%e %b', flatpickr_date_format: 'Y-m-d', flatpickr_mode: 'range'} } %>
    <% end %>
  </div>
</div>
