<% if rules.present? %>
  <div class="col-12">
    <span class="title"><%= t('flats.show.rules') %></span>
    <div class="facilities d-flex flex-wrap">
      <% rules.each do |facility|  %>
        <div class="facility d-flex align-items-center px-2 my-2"><%= facility %></div>
      <% end %>
    </div>
    <hr class="w-100">
  </div>
<% end %>
