.flat-card-large {
  .img-box {
    height: 146px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
  }
  .facilities {
    .facility {
      font-size: 10px;
      border: 1px solid $purple;
      width: 24%;
      border-radius: 40px;
      text-align: center;
    }
  }
  .details-wrapper {
    a:first-child {
      width: 65%;
    }
    .details {
      .name {
        font-family: 'Manrope';
        font-weight: 200;
        font-size: 14px;
        line-height: 19px;
        color: #18191F;
      }
      .pricing {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #18191F;
      }
    }
  }
}
