.flats-container {
  .subnavbar input {
    border: none !important;
    color: $black;
    &::placeholder {
      color: $black;
     }
    &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
  }
  .pagy-nav {
    height: 0;
    span.page {
      visibility: hidden;
    }
  }
}
