.flats-container {
  padding-top: 80px;
  .pagy-nav {
    height: 0;
    span.page {
      visibility: hidden;
    }
  }
  .filters-button {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    i {
      font-size: 20px;
    }
  }
  .no-results-button {
    width: 160px;
    line-height: 64px;
  }
}
@include media-breakpoint-down(md) {
  .flats-container {
    padding-top: 0;
    .subnavbar input {
      border: none !important;
      margin-right: 1rem;
      color: $black;
      &::placeholder {
        color: $black;
       }
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}
