.flats-container {
  padding-top: 80px;
  .pagy-nav {
    height: 0;
    span.page {
      visibility: hidden;
    }
  }
}
@include media-breakpoint-down(md) {
  .flats-container {
    padding-top: 0;
    .subnavbar input {
      border: none !important;
      margin-right: 0.5rem;
      color: $black;
      &::placeholder {
        color: $black;
       }
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}
