.modal-flat {
  .picto {
    width: 25px;
    margin-bottom: 12px;
  }
  .modal-dialog {
    max-width: 1110px;
    margin: 0;
    .btn-m {
      width: 150px;
      i {
        font-size: 20px;
      }
    }
    .modal-content {
      position: absolute;
      .title {
        font-size: 18px;
      }
      .main-title {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Montserrat';
      }
      .top-nav {
        box-shadow: 0px 16px 40px rgba(166, 163, 173, 0.2);
        height: 80px;
        padding: 5%;
        .close {
          height: 40px;
        }
        .close i {
          font-size: 30px;
          color: $black;
        }
      }
    }
    #filters_max {
      text-align: right !important;
    }
    .filter-wrapper {
      padding: 2% 5% !important;
    }
    .frequency {
      font-weight: bold;
    }
    .round {
      flex-direction: row-reverse;
      justify-content: space-between;
      span {
        font-family: 'Manrope';
        font-weight: normal;
        font-size: 16px;
        color: #18191F;
      }
    }
  }
}
