.room-card {
  background: $white;
  border: 1px solid $snow;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
  flex-direction: column;
  justify-content: center;
  height: 85px;
  width: 100%;
  span {
    color: $black;
  }
  .name {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
  }
  .pricing {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
}

.room-selected {
  background: $purple;
  span {
    color: $white !important;
  }
}
