.addresses-container {
  .current {
    font-weight: bold;
    font-size: 18px;
  }
  .address-card{
    height: 112px;
    border-radius: 20px;
    border: 1px solid $grey-snow;
    cursor: pointer;
    transition: 0.3s;
    background: $white;
    &:hover {
      border: 1px solid $purple;
    }
  }
  .unactive {
    font-weight: bold;
    font-size: 18px;
    color: $dark-cloud;
  }
  #error {
    font-weight: 600;
    padding-left: 0.75rem;
  }
  .active-address {
    background: linear-gradient(180deg, rgba(140, 48, 245, 0.2) 0%, rgba(110, 48, 181, 0.2) 100%);
    color: $purple;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid $purple;
    &:hover {
      border: 1px solid $purple;
    }
  }
  .address-input-wrapper {
    border: 1px solid $grey-snow;
    box-shadow: 0px 2px 10px rgba(180, 173, 173, 0.2);
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: $purple;
  }
  .form-address {
    .form-group {
      margin-bottom: 0;
      width: 80%;
      border: 1px solid $grey-snow;
      box-shadow: 0px 2px 10px rgba(180, 173, 173, 0.2);
      border-radius: 14px;
      margin-right: 5px;
      padding: 0.55rem;
      .form-control {
        margin-left: 2.2rem;
        font-weight: bold;
        color: $black;
        font-size: 18px;
      }
    }
    img {
      left: 32px;
    }
  }
  .plus-img {
    width: 25px;
  }
  i.unactive {
    color: $cyan;
  }
  .form-control {
    background: transparent;
    &:focus {
    box-shadow: none;
    }
  }
  .btn-main {
    padding: 11px 51.5px !important;
    cursor: pointer;
  }
}
