.addresses-container {
  .address-card{
    border-radius: 5px;
    border: 1px solid $light-grey;
    cursor: pointer;
    transition: 0.3s;
    background: $white;
    &:hover {
      border: 1px solid $purple;
    }
  }
  #error {
    font-weight: 600;
    padding-left: 0.75rem;
  }
  .active-address {
    font-weight: 600;
    color: $purple;
    border: 1px solid $purple;
    &:hover {
      border: 1px solid $purple;
    }
  }
  .address-input-wrapper {
    cursor: pointer;
  }
  .form-group {
    margin-bottom: 0;
    width: 70%;
  }
  .form-control {
    background: transparent;
    &:focus {
    box-shadow: none;
    }
  }
  .btn-main {
    cursor: pointer;
  }
}
