.addresses-card-wrapper {
  .address-card.active {
    background: $light-blue;
  }
  .address-card {
      border: 1px solid $grey;
      border-radius: 10px;
      cursor: pointer;
    i {
      font-size: 30px;
      color: $dark-grey;
    }
    .address {
      color: $dark-grey;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    &:hover {
      background-color: $light-blue;
      border: 1px solid $light-blue;
    }
  }
}
.add-card-border {
  border-style: dashed !important;
  .address {
    color: $grey !important;
  }
}


.btn-input {
  font-size: 12px;
  font-weight: 800;
  margin: 2%;
  margin-bottom: 0;
  margin-top: 0;
}

#new_address .form-group {
  margin: 0 !important;
  width: 100%;
}
