.complete-profile-container {
  padding-top: 80px;
  h1 {
    font-weight: 800;
    font-size: 30px;
    color: $black ;
  }
  .picto {
    width: 30px;
    margin-right: 0.5rem;
  }
  .invalid-feedback {
    display: block;
  }
  .small-yellow-bubble {
    right: 10%;
  }
  .big-blue-bubble {
    left: -20%;
    top: -20%;
  }
  .iti__flag {
    border-radius: 2px;
  }
}

@include media-breakpoint-down(md) {
  .complete-profile-container {
    padding-top: 2rem;
    input[type='date'] {
      display: flex;
    }
    input[type='date']:after {
      font-size: 12px;
      color: $taupe;
      opacity: 0.4;
      font-weight: 300;
      content: attr(placeholder);
    }
    h1 {
      font-size: 20px;
    }
    .picto {
      width: 40px;
    }
    .tel {
      font-weight: 800;
      font-size: 18px;
    }
  }
}
