.profile-container {
  padding-top: 80px;

  .section-title {
    font-weight: 800;
    font-size: 18px;
  }
  #profil-form {
    label {
      font-weight: 600;
    }
    i {
      cursor: pointer;
    }
    .form-control:focus {
      box-shadow: none;
    }
  }
}
