.profile-container {
  padding-top: 70px;
  min-height: 80vh;
  h2 {
    font-weight: 800;
    font-size: 48px;
  }
  .profil-form-wrapper {
    .small-blue-bubble {
      bottom: -120px;
      left: -90px;
    }
    .small-yellow-bubble {
      right: -310px;
      top: 100px;
    }
    .is-valid {
      background-image: none;
    }
    .first-row .input-wrapper{
      width: 40%;
    }
    .flatpickr-input {
      background: $white;
    }
    .is-valid {
      border-color: $grey-snow !important;
    }
    .flash {
      color: $green !important;
      font-weight: 700;
      font-size: 17px;
      display: flex;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      i {
        font-size: 18px;
      }
    }
    .show {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}

@include media-breakpoint-down(md) {
  .profile-container {
    .big-blue-bubble {
      top: -211px !important;
      left: -221px !important;
    }
    .big-purple-bubble {
      top: 334px !important;
      right: -270px !important;
    }
  }
}
