.subscriptions-addresses-container {
  .subscription {
    background: $white;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid $grey-snow;
    height: 110px;
  }
  .status {
    font-size: 18px;
    font-weight: bold;
  }
  .category {
    color: $dark-cloud;
    font-weight: bold;
    font-size: 14px;
  }
  .date {
    color: $dark-cloud;
    font-weight: bold;
    font-size: 14px;
  }
  .headers {
    font-weight: 600;
    font-size: 16px;
  }
  .column {
    width: 20%;
    text-align: center;
    .img {
      max-width: 35%;
    }
  }
  .price {
    color: $dark-cloud;
    font-size: 14px;
    font-weight: bold;
    strong {
      font-size: 18px;
      color: $black;
    }
  }

  .action {
    color: $purple;
    font-weight: bold;
    border: 1px solid rgba(140, 48, 245, 0.1);
    border-radius: 16px;
    padding: 0.7rem 0rem;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }

  .failed {
    color: $red;
  }

  .pending_processed {
    color: $blue;
  }

  .draft {
    color: $purple;
  }

  .succeeded {
    color: $yellow;
  }

  .activated {
    color: $green;
  }

  .picto {
    width: 30px;
  }
}
