.subscriptions-index-container {
  .subscriptions-wrapper {
    background: $white;
    border: 1px solid $grey;
    border-radius: 20px;
    .subscription {
      border-bottom: 1px solid $grey;
    }
    .subscription:last-child {
      border-bottom: none;
      padding-bottom: 0 !important;
    }
  }
  .headers {
    width: 100%;
    background: $light-blue;
  }
  .header {
    font-size: 14px;
    color: $dark-grey;
    letter-spacing: 0.3px;
    font-weight: 800;
  }
  .column {
    width: 15%;
    text-align: center;
    font-size: 12px;
    color: $black;
    .img {
      width: 40%;
    }
  }
  .picto {
    background: $light-blue;
    border-radius: 10px;
    width: 30px;
  }
  .price {
    color: $dark-grey;
    font-size: 14px;
    .amount {
      font-weight: 800;
      font-size: 16px;
    }
  }
}
.price-box {
  background: $dark-grey;
  color: $white;
  width: 20%;
  border-radius: 20px;
}

.subline {
  color: #798CA0;
}
@include media-breakpoint-only(xs) {
  .subscriptions-index-container {
    .btn-minor {
      border-radius: 10px;
    }
    .price {
      font-size: 13px !important;
    }
    .amount {
      font-size: 15px !important;
    }
  }
}
