.tabs{
  cursor: pointer;
  font-size: 18px;
  .nav-link {
    padding: 0.7rem 1rem;
    border: 1px solid $grey-snow;
    color: $dark-cloud !important;
    border-radius: 40px;
  }
  .nav-link.active {
    background: $purple !important;
    color: $white !important;
  }
}
