.tabs{
  cursor: pointer;
  font-size: 18px;
  .nav-item {
    width: 20%;
  }
  .nav-link {
    padding: 0.7rem 0;
    border: 1px solid $grey-snow;
    color: $dark-cloud !important;
    border-radius: 40px;
    text-align: center;
  }
  .nav-link.active {
    background: $purple !important;
    color: $white !important;
  }
}
