<div class="comming-soon-banner">
  <p class="title">Settle in Pack is coming soon! </p>
  <p class="subtitle">Get your customized subscriptions in 1 bill with the Settle in Pack. Stay tuned and check your dashboard later!</p>
  <%= image_tag(asset_path('components/comming-soon-banner/card.png')) %>
</div>
