<div class="comming-soon-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 order-lg-2">
        <p class="title">Settle in Pack is coming soon! </p>
        <p class="subtitle">Get your customized subscriptions in 1 bill with the Settle in Pack. Stay tuned and check your dashboard later!</p>
      </div>
      <div class="col-xs-12 col-lg-6 order-lg-1">
        <%= image_tag(asset_path('components/comming-soon-banner/card.png')) %>
      </div>
    </div>
  </div>
</div>
