<div class="dashboard-navbar col-12 d-flex justify-content-evenly align-items-center">
  <%# link_to "" do %>
    <div class="button d-flex flex-column justify-content-center align-items-center mt-2">
      <i class="fad fa-user-alt"></i>
      <span class="nav-title">Profile</span>
    </div>
  <%# end %>
  <%# link_to "" do %>
    <div class="button d-flex flex-column justify-content-center align-items-center mt-2">
      <i class="fad fa-usd-circle"></i>
      <span class="nav-title">Payment</span>
    </div>
  <%# link_to "" do %>
    <div class="button d-flex flex-column justify-content-center align-items-center mt-2">
      <i class="fad fa-bags-shopping"></i>
      <span class="nav-title">Orders</span>
    </div>
  <%# end %>
  <%# link_to "" do %>
    <div class="button d-flex flex-column justify-content-center align-items-center mt-2">
      <i class="fad fa-file-invoice"></i>
      <span class="nav-title">Invoices</span>
    </div>
  <%# end %>
</div>
