<section class="testimonials container my-3">
  <div class="row justify-content-center">
    <div class="testimonial-card col-10 mx-auto d-flex flex-column justify-content-center align-content-center text-center">
      <h3>From Delhi to London</h3>
      <%#<iframe width="560" height="315" src="https://www.youtube.com/embed/cneu8_K140M" title="Karan Testimonial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>%>
      <h2>Karan</h2>
      <p>"movido helped me settle in even before arriving in Paris for my semester abroad"</p>
    </div>
  </div>
</section>