.modal-booking {
  .flat-summary {
    .img {
      width: 160px;
      height: 100px;
      background-size: cover;
      background-position: center;
      border-radius: 14px;
      margin-right: 1rem;
    }
    .details {
      font-size: 14px;
      justify-content: space-evenly;
      .title {
        font-weight: 500;
      }
      .price {
        font-weight: bold;
        font-family: 'Montserrat';
      }
      hr {
        width: 100%;
      }
    }
  }
  .picto {
    width: 25px;
    margin-bottom: 12px;
  }
  .modal-dialog {
    max-width: 1110px;
    margin: 0;
    .btn-m {
      width: 150px;
      i {
        font-size: 20px;
      }
    }
    .modal-content {
      position: absolute;
      min-height: 100vh;
      height: auto;
      .title {
        font-size: 18px;
      }
      .main-title {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Montserrat';
      }
      .top-nav {
        box-shadow: 0px 16px 40px rgba(166, 163, 173, 0.2);
        height: 80px;
        padding: 5%;
        .close {
          height: 40px;
        }
        .close i {
          font-size: 30px;
          color: $black;
        }
      }
    }
    #filters_max {
      text-align: right !important;
    }
    .filter-wrapper {
      padding: 2% 5% !important;
    }
    .frequency {
      font-weight: bold;
    }
    .round {
      flex-direction: row-reverse;
      justify-content: space-between;
      span {
        font-family: 'Manrope';
        font-weight: normal;
        font-size: 16px;
        color: #18191F;
      }
    }
  }
  .congratulations-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-title {
      color: $purple;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    .title {
      font-size: 32px !important;
      line-height: 38px;
      margin-bottom: 0.75rem;
    }
    .subtitle {
      font-weight: 700;
      font-size: 18px;
    }
    .disclaimer {
      font-size: 12px;
      font-weight: 600;
      color: #696f795c;
      letter-spacing: 0.2px;
      margin-bottom: .25rem;
      padding-bottom: .25rem;
      border-bottom: 1px solid #80808024;
    }
    .details-wrapper {
      padding-bottom: 1rem;
      border-bottom: 1px solid #8080802b;
      margin-bottom: 1.5rem;
      .lease {
        font-style: italic;
        font-size: 12px;
      }
      div {
        padding: 0.25rem 0;
      }
      span {
        font-size: 14px;
        font-weight: 600;
        color: $anthracite;
        letter-spacing: 0.2px;
      }
    }
  }
}
