.providers-container {
  background: linear-gradient(180deg, rgba(122, 8, 251, 0.6) 41.67%, rgba(186, 125, 255, 0.6) 100%);
  .location {
    color: $white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
  }
  .count-results {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $white;
  }
  .providers-wrapper {
    .title {
      width: 100%;
      padding-left: 15px;
      h3 {
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: $white;
      }
    }
  }
}
