<div class="<%= 'd-none' if facilities.blank? %>">
  <div class="room-details">
    <span class='title mb-2 '><%= t('flats.show.facilities') %></span>
    <div class="facilities">
      <% facilities.each do |facility| %>
        <div class="facility"><%= facility[:name] %></div>
      <% end %>
    </div>
  </div>
  <hr class="w-100">
</div>

