<div class="modal modal-flat fade" id="carouselModal" tabindex="-1" role="dialog" aria-labelledby="filtersModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div data-controller="carousel" class="swiper-container position-relative" data-carousel-options-value='{"pagination": {"el": ".swiper-pagination"}, "observer": true,"observeParents": true, "navigation": {"nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}}'>
          <div class="swiper-wrapper position-relative">
            <% images.each do |image| %>
              <div class="swiper-slide img-box" style="background-image:url(<%= image[:url] %>);"></div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</div>
