<% if rules.present? %>
  <div>
    <span class="title"><%= t('flats.show.rules') %></span>
    <div class="facilities">
      <% rules.each do |facility|  %>
        <div class="facility"><%= facility %></div>
      <% end %>
    </div>
    <hr class="w-100">
  </div>
<% end %>
