.modal-address {
  h3 {
    font-weight: 800;
    z-index: 1;
  }
  .form-base {
    z-index: 1;
  }
  .form-control:focus.is-invalid {
    border-color: $red;
    box-shadow: none;
  }
  .form-control:focus.is-valid {
    border-color: $green;
    box-shadow: none;
  }
  .disabled {
    background: $background-light-purple;
    border-bottom: 5px solid #beaac8 !important;
  }
  .bubbles {
    z-index: 0;
  }
}
