.products-cards-wrapper {
  font-family: "Montserra", sans-serif;
  .product-card {
    background: $white;
    border: 1px solid $grey-snow;
    border-radius: 20px;
    span {
      font-size: 14px;
    }
    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
    }
    .offers {
      width: 90%;
      margin-right: 1rem;
    }
    .actions {
      width: 35%;
    }
    .logo {
      margin-right: 1rem;
      width: 20%;
    }
    h5 {
      font-weight: bold;
      font-size: 18px;
    }
    .price {
      .number {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 26px;
      }
      .frequency {
        font-weight: bold;
        font-size: 14px;
        color: $dark-cloud;
      }
    }
    .picto {
      width: 25px;
    }
    .features span {
      &:first-child {
        color: $taupe;
      }
      &:nth-child(2) {
        color: $blue;
      }
      &:nth-child(3) {
        color: $green;
      }
      &:nth-child(4) {
        color: $blue;
      }
      &:nth-child(5) {
        color: $cyan;
      }
    }
  }
}

