.products-cards-wrapper {
  font-family: "Montserrat", sans-serif;
  .product-card {
    background: $white;
    border: 1px solid $grey-snow;
    border-radius: 20px;
    padding: 1.8rem 1rem 1.1rem 1.3rem ;
    .margin {
      height: 55px;
      border-right: 1px solid #C7C7C7;
    }
    .box-offer {
      margin-right: 2rem;
    }
    span {
      font-size: 14px;
    }
    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 33, 67, 0.07);
    }
    .offers {
      margin-right: 1rem;
    }
    .actions {
      width: 25%;
    }
    .logo {
      width: 100px;
    }
    .modal-link {
     text-decoration: underline !important;
     font-weight: bold;
     font-size: 14px;
    }
    h5 {
      font-weight: bold;
      font-size: 18px;
    }
    .price {
      .number {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 26px;
      }
      .frequency {
        font-weight: bold;
        font-size: 14px;
        color: $black;
      }
    }
    .picto {
      width: 25px;
      margin-bottom: 9px;
    }
    .picto-icon {
      margin-bottom: 9px;
    }
    .features span {
      color: $turquoise;
      font-weight: bold;
    }
    .country span {
      color: $country-card-color !important;
    }
    .cyan {
      color: $cyan;
    }
  }
}

@media (min-width: 1200px) {
  .container.products-container {
    max-width: 1300px !important;
  }
}
