.products-cards-wrapper {
  .product-card {
    background: $white;
    border-radius: 1rem;
    border: 2px solid $blue;
    .infos-wrapper {
      .info {
        .top {
          font-weight: bold;
          color: $black;
        }
        .bot {
          color: $dark-grey;
          font-weight: 300;
          font-size: 14px;
        }
      }
      .price {
        .top {
          font-weight: 800;
          color: $blue;
          font-size: 16px;
        }
        .bot {
          color: $dark-grey;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
    .details-wrapper {
      .infos {
        .info {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }
}
