.filters-container {
  .title {
    font-weight: 500;
    font-size: 14px;
  }

  .filter-wrapper{
    padding: 30px 35px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
  }

  .filter-wrapper span {
    font-weight: 600;
    font-size: 14px;
  }
  .round {
    position: relative;
  }

  input[type='checkbox'] {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-appearance: none;
    cursor: pointer;
    &:checked {
      border: 4px solid #2091F9;
    }
  }
  .price-label {
    font-weight: bold !important;
    font-size: 16px !important;
  }
  input {
    width: 45%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E0E0;
    &:focus {
      border-color: rgba(140,48,245,0.35) !important;
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(140,48,245,0.24)  !important;
    }
  }
  .noUi-connect, .noUi-target {
    height: 6px;
  }

  .noUi-connect {
    background: $purple;
  }
  .noUi-target {
    background: #E6E6E6 !important;
    border: none !important;
  }

  .noUi-handle {
    width: 10px !important;
    height: 10px !important;
    right: -5px !important;
    border: none !important;
    border-radius: 50% !important;
    background: $purple;
    box-shadow: none !important;
    top: -2px !important;
    &:focus {
      outline: none;
    }
  }
  .noUi-handle:before, .noUi-handle:after {
    content: none;
  }

  .filter-wrapper.d-flex {
    height: 270px;
  }
}
