.filters-container {
  .title {
    font-weight: bold !important;
    font-size: 16px;
  }

  .filter-wrapper{
    background: $white;
    padding: 30px 35px;
    border-radius: 14px;
    border: 1px solid $grey-snow;
  }
  .reset {
    font-weight: bold;
    font-size: 16px;
    color: $purple;
    text-decoration: underline;
  }
  .filter-wrapper span {
    font-weight: normal;
    font-size: 16px;
  }
  .round {
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 1.3em;
      height: 1.3em;
    }
  }

  input[type='checkbox'] {
    width: 1.3em;
    height: 1.3em;
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid #ABB4BD;
    border-radius: 4px;
    &:checked {
      background: url(asset_path('products/checkbox_active.png'));
      background-size: cover;
      border: none;
    }
  }
  .price-label {
    font-weight: bold !important;
    font-size: 16px !important;
  }
  input {
    width: 12%;
  }
  .noUi-connect, .noUi-target {
    height: 3px;
  }
  .price-input {
    border: none !important;
    box-shadow: none !important;
    font-weight: bold;
    color: $dark-cloud;
    font-size: 16px;
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
  }

  .noUi-connect {
    background: $purple;
  }
  .noUi-target {
    background: $dark-cloud !important;
    border: none !important;
  }

  .noUi-handle {
    width: 22px !important;
    height: 22px !important;
    right: -5px !important;
    border: none !important;
    border-radius: 50% !important;
    background: $purple;
    box-shadow: none !important;
    top: -10px !important;
    &:focus {
      outline: none;
    }
  }
  .noUi-handle:before, .noUi-handle:after {
    content: none;
  }
}
