.modal-product {
  .picto {
    width: 25px;
    margin-bottom: 12px;
  }
  .modal-dialog {
    max-width: 1110px;
    .btn-m {
      width: 150px;
      i {
        font-size: 20px;
      }
    }
    .modal-content.address {
      min-height: 580px;
    }
    .modal-content {
      position: absolute;
      border-radius: 20px;
      .logo {
        width: 100px;
      }
      .modal-body {
        .close {
          height: 40px;
        }
        .close i {
          font-size: 35px;
        }
        .content {
          max-height: 600px;
          .left {
            .features-wrapper {
              min-height: 250px;
            }
            .modal-img {
              width: 100px;
            }
            .main-title {
              font-size: 18px;
              font-weight: 700;
              font-family: 'Montserrat';
            }
            .title {
              font-size: 18px;
            }
            .desc {
              font-weight: 400;
              font-size: 18px;
              color: $dark-cloud;
            }
          }
          .right {
            width: 20%;
            &:first-child {
              width: 100%;
            }
            .price {
              font-weight: 800;
              font-size: 36px;
            }
            .sub-price {
              font-size: 14px;
              color: $dark-cloud;
              font-weight: 700;
            }
            .fa-arrow-square-right {
              font-size: 16px;
            }
            .feature-lite {
              font-weight: 700;
              color: $dark-cloud;
              font-family: 'Montserrat';
              font-size: 14px;
              .black {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
