.modal-product {
  hr {
    border-top: 1px solid $light-purple !important;
  }


  .modal-dialog {
    max-width: 1110px;

    .modal-content {
      background: linear-gradient(70deg, $light-purple 50%, $white 50%);

      position: absolute;
      .logo {
        width: 100px;
      }
      .modal-body {
        .content {
          max-height: 600px;
          .left {
            overflow: scroll;
            .modal-img {
              width: 100px;
            }
            .main-title {
              font-size: 20px;
            }
            .title {
              font-size: 18px;
            }
            .desc {
              font-weight: 400;
              font-size: 16px;
            }
          }
          .right {
            .price {
              font-weight: 800;
              font-size: 36px;
            }
            .feature-lite {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
