.modal-product {
  .picto {
    width: 25px;
    margin-bottom: 12px;
  }
  .modal-dialog {
    max-width: 1110px;
    .btn-m {
      width: 150px;
      i {
        font-size: 20px;
      }
    }
    .modal-content.address {
      min-height: 330px;
    }
    .modal-content {
      position: absolute;
      border-radius: 20px;
      .logo {
        width: 100px;
      }
      .modal-body {
        .close {
          height: 40px;
        }
        .close i {
          font-size: 35px;
        }
        .content {
          max-height: 600px;
          .left::-webkit-scrollbar {
            display: none;
          }
          .left {
            max-width: 75%;
            overflow-y: scroll;
            .features-wrapper {
              min-height: 250px;
            }
            .modal-img {
              width: 100px;
            }
            .main-title {
              font-size: 18px;
              font-weight: 700;
              font-family: 'Montserrat';
            }
            .title {
              font-size: 18px;
            }
            .desc {
              font-weight: 400;
              font-size: 18px;
              color: $dark-cloud;
            }
          }
          .right {
            width: 20%;
            &:first-child {
              width: 100%;
            }
            .price {
              font-weight: 800;
              font-size: 36px;
            }
            .sub-price {
              font-size: 14px;
              color: $dark-cloud;
              font-weight: 700;
            }
            .fa-arrow-square-right {
              font-size: 16px;
            }
            .feature-lite {
              font-weight: 700;
              font-family: 'Montserrat';
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.modal-flat {
  .picto {
    width: 25px;
    margin-bottom: 12px;
  }
  .modal-dialog {
    max-width: 1110px;
    margin: 0;
    .btn-m {
      width: 150px;
      i {
        font-size: 20px;
      }
    }
    .modal-content {
      position: absolute;
      height: 92vh;
      .title {
        font-size: 18px;
      }
      .main-title {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Montserrat';
      }
      .top-nav {
        box-shadow: 0px 16px 40px rgba(166, 163, 173, 0.2);
        height: 80px;
        padding: 5%;
        .close {
          height: 40px;
        }
        .close i {
          font-size: 30px;
          color: $black;
        }
      }
    }
    #filters_max {
      text-align: right !important;
    }
    .filter-wrapper {
      padding: 2% 5% !important;
    }
    .round {
      flex-direction: row-reverse;
      justify-content: space-between;
      span {
        font-family: 'Manrope';
        font-size: 16px;
        color: #18191F;
      }
    }
  }
}
