<div class="why-card d-flex mb-5">
  <div class="illustration mr-5 d-flex align-items-center p-2">
    <%= image_tag(asset_path(img), loading: 'lazy') %>
  </div>
  <div class="d-flex flex-column">
    <span class="title"><strong><%= title %></strong></span>
    <span class="desc"><%= desc %></span>
  </div>
</div>
