<li>- Mobile phone contract from Bouygues Telecom (“Bouygues”) at <%= house.house_detail.address %> for <%= product.country.currency_symbol %><%= number_to_currency(product.subscription_price, :unit => '') %> per month</li>
