<li>- Energy supply contract from TotalEnergies Group (“TotalEnergies”) at <%= house.house_detail.address %> for <%= product.country.currency_symbol %><%= number_to_currency((product.variant_subscription_price(house) / 100), :unit => '') %> per month
</li>
