<li>- Energy supply contract from Octopus Energy Limited (“Octopus Energy”) at <%= house.house_detail.address %> for <%= product.country.currency_symbol %><%= number_to_currency((product.variant_subscription_price(house) / 100), :unit => '') %> per month
</li>
