<div class="loader d-none" id="loader"><div class="lds-hourglass"></div></div>
<div class="container subscription-container d-flex flex-column align-items-center">
  <div class="row">
    <div class="col-md-12">
      <%= render 'subscriptions/steps', product: @subscription.product, current_step: @subscription.current_step(controller.controller_name), title: t('charges.new.title'), subtitle: t('charges.new.subtitle', price: @subscription.product.format_sim_card_price).html_safe, total_steps: @subscription.product.total_steps, congratulations: false %>
    </div>
    <%= render 'stripe_mobile' %>
  </div>
</div>
