<div class="container subscription-container d-flex flex-column align-items-center">
  <figure class="big-blue-bubble position-absolute "></figure>
  <figure class="small-yellow-bubble position-absolute"></figure>
  <figure class="big-purple-bubble position-fixed d-lg-block d-none"></figure>
  <div class="row d-flex align-center justify-content-center flex-column">
    <div class="col-md-12">
      <%= render 'subscriptions/steps', product: @subscription.product, current_step: @subscription.current_step(controller.controller_name), title: t('.title'), subtitle: t('.subtitle', price: @subscription.product.format_sim_card_price).html_safe, total_steps: @subscription.product.total_steps, congratulations: false %>
    </div>
    <%= render 'stripe' %>
  </div>
</div>
