<div class="container subscriptions-container">
  <%= render 'subscriptions/steps', current_step: @subscription.current_step(controller.controller_name), title: t('steps.payment'), subtitle: t('steps.payment_subtitle', price: @subscription.product.sim_card_price, currency: @subscription.product.currency).html_safe,total_steps: @subscription.product.total_steps %>
  <div class="row mx-0">
    <div class="col-md-12 text-center stripe-wrapper my-4">

      <%= render 'stripe' %>
    </div>
  </div>
</div>
